[2016-05-30 23:03] jasmainak opened #5 "todos"
[] remove joblibs dependency
[] add more narrative to documentations
[] add tests

[2016-10-07 18:21] jona-sassenhagen commented on #5
Verbose param would be nice indeed! It's very talkative.

[2016-10-07 18:41] jasmainak commented on #5
indeed! I hope to get around to it once @dengemann reads the paper draft ;)

Of course, feel free to make a PR if you have a time. How does it work on your data?

[2016-10-07 18:43] jona-sassenhagen commented on #5
I only started using it today. I will report when I actually have some results.

[2016-10-13 11:26] dengemann opened #11 "MISC/API/STY"
Starting to collect a few observations and potential issues here.
1. if following sklearn conventions is a goal it should be `.fix_log_` not `.fix_log`
2. ~~I am wondering if dependencies should be managed more parsimoniously, e.g., refrain from using pandas, the fix log could be dumb matrix.~~
3. ~~dependencies should be caught at construction time, skopt import errors are yelling it me when I'm

[2016-10-13 11:31] jasmainak commented on #11
Thanks for the suggestions @dengemann ! I agree that we should remove the pandas dependency. It's easy enough but I was afraid to change things too drastically before we had tests. I think once we have good test coverage, that's definitely one of the things to do. I agree with 1. and 3. as well. Why not 4. too but probably a bit later? I like AutoRejectLocal and AutoRejectGlobal -- makes it more d

[2016-10-13 11:35] dengemann commented on #11
Ok cool I assume PRs are welcome? Maybe it gives you some time to have fun with PRs on MNE-HCP :)

[2016-10-13 11:37] jasmainak commented on #11
yep, PRs are welcome :)

[2016-10-13 11:37] dengemann commented on #11
And yes, let's focus on tests first, then urgent low level API and then later public API.

[2016-10-24 09:25] jona-sassenhagen commented on #5
A preliminary result is that this really helps with getting good ICA decompositions, and I have seen slightly improved decoding accuracies on one data set.

Verbosity param is super important though!

And, less important, save and load methods.

[2016-10-24 10:01] jasmainak commented on #5
okay, thanks for the feedback!

I have in mind using something like `tqdm` to reduce verbosity. Would that work for you? I am a bit hesitant about using logger just yet because I had trouble setting it up last I tried.

By save and load methods, you mean you want to be able to save the rejected trials / thresholds? That's an interesting thought indeed!

[2016-10-24 10:44] jona-sassenhagen commented on #5
Well my problem is, I'm running this on 30 subjects and I get hundreds of lines of logging. It really clutters up my notebooks, so much that it actually slows down the system. I think in the end you'll need a verbosity flag.

The fitted autorej objects. Currently I pickle them.

[2016-11-15 20:53] jona-sassenhagen commented on #5
Ok, after having used it for 3 weeks straight:
1. it's pretty good, I use it for everything now
2. rrrrrrreally needs a verbosity flag. It's basically unusable in the notebook without silencing otherwise.
3. A write method would still be appreciated.

[2016-11-16 00:38] jasmainak commented on #5
okay, thanks for the feedback! I am at the moment experiencing [thrashing](http://stackoverflow.com/a/20842853/4018756). Too many things on the plate. So, I can't promise about the `write` method soon but I hope to solve your urgent need with `verbosity` :) I'll add the rest to my todo list ...

[2016-11-26 00:50] mdovgialo opened #15 "autoreject.plot_epochs doesn't work"
Hi,
I'm using autoreject in my project and found a strange bug, on some computers plot_epochs crashes with:

[code]
I'm don't even know what exactly causes it. I've installed all dependencies for autoreject as instructed on the main page, I've tried several versions of pandas, but it still is the same. The computer which gets that error is running Debian 8 (jessie), computer which works - Ubuntu 1

[2016-11-26 00:58] jasmainak commented on #15
Hi @mdovgialo if you're using the latest version of `autoreject`, you might actually have to do `fix_log.as_matrix()` (like here: https://github.com/autoreject/autoreject/blob/master/examples/plot_visualize_bad_epochs.py#L109) because the function now takes numpy arrays. Eventually, I want to remove the dependency on `pandas`. I'm sorry I changed the way the function behaves because I'm still tryi

[2016-11-26 01:14] mdovgialo commented on #15
It worked! Thank you! I've never noticed that I have different versions of autoreject on those 2 computers.

[2016-11-26 01:14] #15 closed

[2016-11-26 01:14] jasmainak commented on #15
Awesome, great!

[2016-11-26 01:19] mdovgialo opened #16 "Epoch Cleaning solution stability"
Hello again,
is it normal for autoreject to have quite different solutions between runs?

Maybe I'm doing something wrong? I'm using ```autoreject.LocalAutoRejectCV(consensus_percs=np.linspace(0, 0.99, 11))
clean_mne = ts.fit_transform(e_mne.pick_types(eeg=True))
[code]

[2016-11-26 01:24] jasmainak commented on #16
This is quite possible because it involves cross-validation. It will depend on how you do the splits. You can set the `random_state` like here: https://github.com/autoreject/autoreject/blob/master/examples/plot_visualize_bad_epochs.py#L96. That should hopefully fix it!

[2016-11-26 01:25] jasmainak commented on #16
I didn't see your images by the way ... I think you intended to share something

[2016-11-26 01:28] mdovgialo commented on #16
That way I'll get the same solution every run, but as you can see one solution might be clearly superior than the other, I guess there is no way in increasing stability? Maybe doing more CV folds and it will eventually find the better solution?

Sorry, somehow if the images are after block of code they don't show up, I fixed it now.

[2016-11-26 01:35] jasmainak commented on #16
hmm ... this is weird. I'm guessing you are using the latest code with bayesian optimization? If you can share your data privately, perhaps I can take a look.

[2016-11-26 01:41] jasmainak commented on #16
If you want to be adventerous, you could [try changing](https://github.com/autoreject/autoreject/blob/master/autoreject/autoreject.py#L226) `n_calls` here to a higher number to see if it helps ... I haven't exposed this though and I'm not quite certain if it will help

[2016-11-26 01:49] mdovgialo commented on #16
Sorry, I'm not sure I'm allowed to share this data. And yes, I was using bayesian_optimisation. I guess it was added later? So random_search is more tested method and it should be more stable? Maybe I should use that?

[2016-11-26 02:00] mdovgialo commented on #16
Anyway, thanks for taking your time to explain all this, it will really help. And experimenting with automatic methods always beats manual annotations. So thank you.

[2016-11-26 02:04] jasmainak commented on #16
hmm ... I don't think so. Bayesian optimization should work better. It's just a bit slower but it should give more accurate solutions, especially if we increase the number of iterations. I would try the following if you want to dig in further:

- increase `n_calls`
- check the sensor-level thresholds in both cases to see if they are similar

I'm glad someone is using it!

ps: your data looks prett

[2016-11-26 02:06] jasmainak commented on #16
If you have any more questions, I will respond tomorrow. It's late in Europe :)

[2016-11-26 02:09] mdovgialo commented on #16
You've answered all my questions for now. I know. I wanted to have a little glance at date and that bug, thought "I could ask the original author" and BAM it 3 o'clock in the morning.

Thanks

ps. it's only lucky start of the data, it's quite horrible most of the part.

[2016-11-26 09:25] agramfort commented on #16
yes it can happen. I see 2 options

- fix the seed
- use more random splits and draws in bayes opt

if you have such a variability I suspect it's because many thresh are
equally good
so if you run twice you should take the highest estimated threshold to keep
as much
data as possible.

my 2c on a saturday morning...

[2016-12-06 15:03] lorrandal opened #17 "plot_epochs throws an error"
Hi everyone, I'm getting this error when using plot_epochs from autoreject.

[code]

I've installed autoreject using pip following the procedure on http://autoreject.github.io/
The version of mne is 0.13.1  on Anaconda - Spyder (Python 2.7) 64-bit, on w7 64-bit.

The error pops out when trying execute the last line:
[code]

Do you have any of a possible cause?
thank you

[2016-12-06 15:28] jasmainak commented on #17
@lorrandal you need to pass `epochs` to `plot_epochs()` rather than `epochs_clean` because the `bad_epochs_idx` are with respect to the `epochs` not the `epochs_clean`. Some epochs might have been dropped ...

[2016-12-07 09:05] lorrandal commented on #17
thank you very much, of course this solved my problem!

[2016-12-07 09:53] jasmainak commented on #17
great! closing issue

[2016-12-07 09:53] #17 closed

[2016-12-14 11:25] jona-sassenhagen opened #18 "BaseEpochs now public"
It seems the recent move of making BaseEpochs public causes this error for me:

[code]

[2016-12-14 18:59] jasmainak commented on #18
I'm on it ...

[2016-12-15 09:58] nbara commented on #18
Thanks, this was the only thing stopping me from trying out autoreject on my data :)

[2016-12-15 10:07] #18 closed

[2016-12-15 10:08] jasmainak commented on #18
okay merging the PR so you can try it now :)

[2016-12-15 10:09] nbara commented on #18
Thanks !

[2016-12-15 11:33] nbara commented on #5
Would you consider implementing some way of saving the AR cross validation results to disk? (or is that already possible?)

`ar = LocalAutoRejectCV(..)
ar.save()`

[2016-12-15 11:48] jona-sassenhagen commented on #5
For now you can pickle. But save and loadMethods would be nice. 

[2016-12-15 12:23] jasmainak commented on #5
Thanks for the feedback @nbara. It's next on my todo list for autoreject :) I need to figure out what's the best way to do it before jumping into it.

[2016-12-16 10:03] nbara opened #20 "[DOC] typo"
Hi, just looking at the documentation of `LocalAutoRejectCV()`, and there seems to be a mixup:

![screen shot 2016-12-16 at 11 00 38](https://cloud.githubusercontent.com/assets/10333715/21258810/043a4948-c37f-11e6-85ad-08307180d0b7.png)

The defaults of `consensus_percs` and `n_interpolates` are switched (only in the description, the code looks fine)

[2016-12-16 12:51] jasmainak commented on #20
Thanks a lot @nbara for reporting this! It's now fixed with [this commit](https://github.com/autoreject/autoreject/commit/5f484625f05f7fce7d836f226364b60bcecc8656)

[2016-12-16 12:51] #20 closed

[2016-12-21 07:45] dengemann opened #22 "ENH/API/DOC: checkout performance options for large data sets (>500 trials at high sampling frequency)"
So far we had discussed

1) subsampling of fitting and interpolating epochs for data augmentation
2) fit on k epochs, transform all

The task here is to at least show how to use autoreject when data are massive.

cc @fraimondo @jasmainak @agramfort

[2016-12-21 09:56] jasmainak commented on #22
Thanks @dengemann . I'd say we don't particularly need a new dataset as we can already see these issues on existing examples.

@fraimondo, if you want to give a shot at making [this example](http://autoreject.github.io/auto_examples/plot_visualize_bad_epochs.html#sphx-glr-auto-examples-plot-visualize-bad-epochs-py) run faster without making too much of an abrupt change in the codebase, that would

[2016-12-21 10:06] dengemann commented on #22
yes, and if needed we can just tile existing data, making super long epochs of epochs.

+1

[2017-01-18 16:24] cmoutard opened #25 "Clarifying bad_epochs_idx arg in plot_epochs"
Trying to use bad_epochs_idx argument in viz.plot_epochs, @giuliagennari and I got an issue.

Indeed, because of the line 182 :
[code]
everything is built on a 'cleaner' subset of epochs.

Notably lines 317-318:
[code]
colors (later added to params) is a nested list of size len(ch_names) *  len(epochs.events), the latter dimension being related to the 'cleaner' subset of epochs.

However, lines 43

[2017-01-18 16:31] jasmainak commented on #25
Hey @cmoutard , in MNE you cannot take the `len(epochs)` unless you have done `epochs.drop_bad()`. At the moment, the onus is on the user to make sure they use `reject=None` when they construct epochs. So, the only purpose of `epochs.drop_bad()` is to allow taking the `len()`. It should not change the number of epochs. Maybe we should have a check to make sure `reject=None` before calling `epochs.

[2017-01-18 17:12] cmoutard commented on #25
Ok, much clearer now, thX a lot !

[2017-01-21 11:24] jasmainak commented on #25
@cmoutard closing issue via https://github.com/autoreject/autoreject/commit/0c963393513525f5c376150ac1e4c12f95fcbb66. Added some more explicit error messages. Thanks for reporting it!

[2017-01-21 11:24] #25 closed

[2017-01-22 11:39] giuliagennari commented on #16
Hi there!
I am facing a very similar issue.
Running autoreject multiple times on the same subject lead to different outcomes in terms of estimated consensus_percs, number of epochs rejected, "cleanliness" of the signal.
As suggested by Jas, I have tried to fix the seed for the threshold selection and that eventually stabilized the performance (while fixing cv folds did not work for that).

[2017-03-25 18:17] janfreyberg opened #32 "optimizer/optimizer.py:195: UserWarning: The objective has been evaluated at this point before."
I'm getting the same warning message over and over again when trying to use `LocalAutoRejectCV` using all defaults. My code is roughly:

[code]

This warning comes up seemingly on every iteration of the fit_transform call (more than 100 warnings):
[code]

Am I doing something wrong here?

[2017-03-25 18:19] janfreyberg commented on #32
PS:
[code]

[2017-03-25 21:04] jasmainak commented on #32
Hi @janfreyberg thanks for reporting this. Indeed, I observed this with `scikit-optimize==0.3` as well. It looks harmless to me but I'm not sure why it's showing so many of them. If you don't want to see the warning, you can probably downgrade to `scikit-optimize==0.1` (or maybe 0.2, not sure ...).

FWIW, we are planning to remove the dependency on `scikit-optimize` so that we can better control w

[2017-03-26 08:04] janfreyberg commented on #32
Cool, thanks!

I'll downgrade for now, but look forward to trying the new code :)

[2017-03-30 05:29] jasmainak opened #33 "handle channel types gracefully between fit and transform"
cc @jona-sassenhagen this is the issue you mentioned?

[2017-03-30 13:29] jona-sassenhagen commented on #33
One of them :) Maybe it will be sufficient to have a better error msg. Doesn't have to do all the work for you.

[2017-04-02 14:44] jasmainak commented on #32
okay closing this now as https://github.com/autoreject/autoreject/pull/31 has been merged. Feel free to try it and let us know :)

[2017-04-02 14:44] #32 closed

[2017-04-03 09:06] janfreyberg commented on #32
Will do, thanks!

[2017-04-26 14:55] ramonapariciog opened #35 "gaussian_process warning message 308"
Hello everybody!!!
I have a problem, this message appears in each iteration of autoreject during the 'computing thresholds' step:

I'm using the version 0.15.dev0 of mne, and this set of versions:

I have other environment with other versions, and those messages never appear, and it seems to execute faster:

I will appreciate a lot If some one has an idea of how to improve this, because compute a

[2017-04-26 15:35] jasmainak commented on #35
can you share how many epochs you have in your data?

[2017-04-26 15:45] ramonapariciog commented on #35
yeah sure,
i have 953 epochs of 0.8 seconds each one and fs=250 Hz.

[2017-04-26 21:56] jasmainak commented on #35
okay you have too many epochs. The sampling frequency doesn't matter much. I can see two solutions:

1. You could run `fit` on a subset of your epochs and then do `transform` on all of them. Something like:

[code]

2. We could also perhaps have a more intelligent way of init. Right now it [takes every fifth peak-to-peak amplitude](https://github.com/autoreject/autoreject/blob/master/autoreject/au

[2017-04-27 07:24] agramfort commented on #35
no idea about the warning but I would not ignore it.

can you replicate it?

[2017-04-27 14:32] ramonapariciog opened #37 "Raise runtime error cause epochs.drop_log"
This error raises for now using mne.io.read_raw_egi_mff #4017 with one of the files, i will continue checking it with the others:
[code]
epochs.drop_log shows 2 droped epochs:

[code]
@jasmainak

[2017-04-27 14:51] jasmainak commented on #35
well the reason for the warning is the following:

We now initialize the GP based on the peak-to-peak amplitudes. These peak-to-peak amplitudes are very close to each other as you see in the figure below:

![gp_warning](https://cloud.githubusercontent.com/assets/15852194/25489188/5908c808-2b69-11e7-9c50-3e9d83b429ab.png)

Now if you try to `predict` at a point where you already have many points du

[2017-04-27 14:53] ramonapariciog commented on #37
I tried using `cl_epochs = ar.fit(epochs[1:-1:5]).transform(epochs[1:-1])` but the error stills.

[2017-04-27 14:57] jasmainak commented on #37
what is `epochs[1:-1:5].drop_log` and `epochs[1:-1].drop_log`?

[2017-04-27 16:17] ramonapariciog commented on #37
i execute epochs.drop_bad() and for  `epochs[1:-1:5].drop_log` this is the result:
[code]
and using `epochs[1:-1].drop_log`
[code]
it seems like the 'NO_DATA' and 'TOO_SHORT' labels are don't response to the slicing

[2017-04-27 16:40] jasmainak commented on #37
oh well, you could just pass `events[1:-1, :]` when making epochs I guess ... I'll try to fix this as soon as the picks PR (https://github.com/autoreject/autoreject/pull/34) is merged

[2017-04-27 16:45] ramonapariciog commented on #37
ok, i will do that :), thank you.

[2017-04-27 20:04] agramfort commented on #35
so maybe you are sampling too many points?

[2017-04-28 12:09] jasmainak commented on #35
hmm ... I'm not so sure that's the reason. I could dig in further, but not sure it's worth the effort. For now, I suggest doing what `scikit-optimize` does [here](https://github.com/scikit-optimize/scikit-optimize/blob/e08a067abfa759fa60f279eaf2df569bafc79147/skopt/acquisition.py#L229-L230) : suppress the warnings

[2017-04-28 13:18] #35 closed

[2017-05-11 14:09] craddm opened #39 "Intermittent error while repairing epochs"
I'm trying to use autoreject on some EEG data recorded on a BioSemi system. Sometimes I get the following warning during processing - it seems to happen during the initial fit and looks like it might be related to interpolation (mne's bem.py, via _interpolate_bads_eeg). Specifically this happens during a "repairing epochs" step. I can tell it's during the initial fit as it says it's repairing half

[2017-05-11 14:36] jasmainak commented on #39
Hmm ... how many sensors do you have in your recording? Maybe `n_interpolates` is too large ... so the sphere fit for interpolation is very bad. In the end, `autoreject` should not select that `n_interpolate` due to the cross validation.

Also are you using the latest version of `autoreject` and do you still see the instability problem with `compute_thresholds`?

[2017-05-11 17:37] craddm commented on #39
Hmm, yeah - 64 electrodes. So yes, 32 is a bit...over the top. Anyway, yeah, I'd already tried it with 16 instead of 32, which seemed a more reasonable higher-end, just so happened i'd tried it again with 32 before posting. Same problem. Also same problem with 8 as the highest number. Slightly misunderstood how that parameter works through not properly reading and lack of python familiarity ;) - I

[2017-05-11 17:56] jasmainak commented on #39
okay, all this seems a bit mysterious. I'll try to first reproduce the problem locally. If you have any script that you can share, it would be great!

[2017-05-11 20:57] jasmainak commented on #39
Also, can you look at the sensor locations by doing `epochs.plot_sensors()` or something like that just to see if nothing is off ...

[2017-05-12 10:20] craddm commented on #39
Sensor locations seem fine, they're just the standard Biosemi 64 ones included with MNE. Here's the [epochs file](https://dl.dropboxusercontent.com/u/2115135/Extero_Test-epo.fif) I'm having issues with when running the autoreject code I pasted above. If you still need the pre-processing code I can sort that  and the raw data over the weekend.

[2017-05-12 11:55] jasmainak commented on #39
Thanks a lot! I was able to reproduce :) I'll get to it soon

[2017-05-14 01:03] #39 closed

[2017-06-15 09:05] dnacombo opened #42 "error upon import"
[code]

[2017-06-15 09:06] agramfort commented on #42
your scikit-learn version is too old

install 0.18

[2017-06-23 08:23] dengemann commented on #42
Closing.

[2017-06-23 08:23] #42 closed

[2017-06-23 09:53] dengemann opened #43 "ENH/DOC: add documentation to bad idx and bad segments properties"
and explain what they are and how to use them.

[2017-06-23 11:53] #37 closed

[2017-06-23 15:51] #43 closed

[2017-06-23 15:57] jasmainak opened #47 "consensus_perc -> consensus"
It should be either int (#channels) or (% channels)

[2017-06-23 15:57] jasmainak opened #48 "predict method for ar.bad_segments"

[2017-06-25 21:57] dengemann opened #49 "ENH: improve performance, try to spot and avoid unnecessary copies during interpolation by relying on picks"
To be looked into once #45 is in.

[2017-06-25 21:58] dengemann opened #50 "ENH/FIX: regression tests / ground truth"
It seems we have no regression tests, especially not for autorejct itself.
To avoid loosing time and work when refactoring autoreject we need to make sure the code detects known bad segments. We should think about using simulated/modified data.

[2017-06-25 23:04] jasmainak commented on #49
yeah I agree you don't need so many copies during interpolation. Historically, it was just to be safe about things

[2017-06-26 16:51] jasmainak opened #51 "warnings when building docs"
reported by @agramfort

[code]

[2017-06-26 21:35] dengemann opened #52 "ENH/API: ch_type instead of fix param."
And simple API for multi-channel support:

[code]

[2017-06-26 21:41] dengemann opened #53 "ENH/API: only one fix_log"
instead of having bad segments and fix_log, just have one thing.

Expose it with method.

[code]

Where epochs can be the epochs used in fitting or new data.
The usage and semantics are then easy: Anything that is > than 0 is not good, 1 is bad, 2 is fixed. Document that.

[2017-06-28 11:21] yousrabk opened #54 "Version problem"
[code]
And mne version:
[code]

[2017-06-28 11:22] jasmainak commented on #54
merci :)

[2017-06-29 09:41] jasmainak commented on #51
closed by https://github.com/autoreject/autoreject/commit/01fb501443f36f7ede2cc489040fffddd7bc17b4

[2017-06-29 09:41] #51 closed

[2017-07-19 11:32] jasmainak opened #55 "deal with flat channels"
@jbschiratti reported to me that he has a use case for running autoreject on his data with flat channels. He has locally bad channels and MNE gets overzealous in rejecting trials. Perhaps we should support this as well.

[2017-07-19 13:31] agramfort commented on #55
it's unclear how. But as we said in the paper flat channels are trivial to
detect. Altough we don't have a function for that...

[2017-07-19 23:00] jasmainak commented on #55
yes detection is easier for flat channels. But you still can't repair
locally bad sensors using epoch-wise interpolation in MNE.

[2017-07-20 07:38] agramfort commented on #55
true :(

there is a PR though to have epoch wise interpolation. Maybe this could
become a priority to fix...

[2017-07-23 15:59] jasmainak opened #59 "unit test with one channel"
nice idea from @agramfort

Unit test with simulated data on just one channel

[2017-07-24 13:14] jasmainak opened #60 "remove LBFGS-B"
suggested by @agramfort

Since we have a finite set of thresholds to evaluate the GP on, we don't need to run an LBFGS. We can simply evaluate the GP on all the thresholds. It will avoid problems like in https://github.com/autoreject/autoreject/pull/58.

[2017-07-24 20:07] #33 closed

[2017-07-30 18:48] #60 closed

[2017-08-01 09:08] jasmainak opened #62 "copy interp changes from MNE"
see https://github.com/mne-tools/mne-python/pull/4418/files

[2017-08-09 08:00] dengemann opened #63 "ENH/FIX: avoid changing state of autoreject objects when transforming"
Currently calling transform updates the thresholds by calling ._vote_epochs ..
This needs to be fixed before being able to address #22
@jasmainak

[2017-08-13 20:26] dengemann opened #65 "MAINT: respect sklearn depracations and use modern code"
- [] cross_validation -> model_selection
- [] KFold API -> n_splits + .get_n_splits(X) + .split(X)

cc @jasmainak

[2017-08-13 20:42] jasmainak commented on #65
related https://github.com/autoreject/autoreject/pull/2 but I guess the PR needs to be revamped fresh

[2017-08-13 20:50] dengemann commented on #65
yeah ...

[2017-08-13 21:02] dengemann opened #66 "ENH: consolidate distinction between parameters and attributes in API"
Currently the API in ARCV, at least, introduces fuzzy loops. If self.cv is None, it will be overwritten in a fit data dependent way. This breaks refitting on differently shaped data as the cv object assumes a certain number of epochs. This and other related issues should be rigorously addressed together with #2 and #65.

cc @jasmainak

[2017-08-15 08:06] dengemann opened #67 "FIX: track bad channels warnings."
We still have these floating around.

[code]

[2017-08-15 08:18] dengemann opened #68 "ENH: nice logging / printing for multiple channel types."
Sequel to #64

[2017-08-15 10:38] jasmainak opened #69 "multi channel support for ransac"
For someone bored with his life ...

cc @dengemann

[2017-08-15 10:49] jasmainak commented on #54
closed via https://github.com/autoreject/autoreject/pull/64

[2017-08-15 10:49] #54 closed

[2017-08-15 10:49] jasmainak commented on #52
closed via https://github.com/autoreject/autoreject/pull/64

[2017-08-15 10:49] #52 closed

[2017-08-15 10:50] jasmainak commented on #63
closed by https://github.com/autoreject/autoreject/pull/64

[2017-08-15 10:50] #63 closed

[2017-08-15 16:47] agramfort commented on #69
lol :)

[2017-08-15 16:51] dengemann commented on #69
No I gently refused @agramfort that's why we're looking for a matching
profile. Or maybe it won't happen. Wrong algorithm ;)
On Tue, 15 Aug 2017 at 18:47, Alexandre Gramfort <notifications@github.com>
wrote:

[2017-08-15 16:56] jasmainak commented on #69
okgithub: matching issues with contributors :)

[2017-08-15 17:05] dengemann commented on #69
Mainak think about it if ransac should become as nice to use as
autoreject.... maybe we should make it slower ;)
On Tue, 15 Aug 2017 at 18:56, Mainak Jas <notifications@github.com> wrote:

[2017-08-15 17:19] jasmainak commented on #69
hehe ;)

[2017-08-15 17:23] dengemann commented on #69
I'd propose adding a list comprehension in fit that calls
compute_thresholds 10 times ...
On Tue, 15 Aug 2017 at 19:19, Mainak Jas <notifications@github.com> wrote:

[2017-08-16 07:14] DominiqueMakowski opened #70 "Ransac vs LocalAutoRejectCV"
Hey guys,
First thanks for your work on this trully awesome (and so useful) package.

Altough I understand it's at its early dev stage, I have a quick question:
From the docs I understood that Ransac is for detecting/repairing bad channels and LocalAutoRejectCV for detecting/repairing bad epochs. Is that correct?

If so, does the following pipeline make any sense to you?

[code]

Shoud I use `inte

[2017-08-16 07:22] dengemann commented on #70
Thanks Dominique! The comparison is not exactly correct. Autoreject allows
you to learn which channels in which trials are bad and gives you informed
advice on which trials to retain by interpolating some of the channels and
which to get rid of. In that sense it goes beyond Ransac. They are more
competing than complementary tools. The idea is to simply use
ar.fit_transform(epochs) to get clean epo

[2017-08-16 07:25] DominiqueMakowski commented on #70
Perfect, thanks @dengemann !

[2017-08-16 07:25] #70 closed

[2017-08-16 08:42] jasmainak commented on #70
Yes indeed they are not meant to be complementary tools. My idea of open
sourcing also the ransac code was to offer users the freedom to choose :)

To add to what Denis mentioned, if you want a list of bad epochs you could
use ar. bad_epochs_idx after ar.transform or simply look for 'AUTOREJECT'
in epochs.drop_log

Cheers

On Wed, 16 Aug 2017 at 12:55, Dominique Makowski <notifications@github.com>

[2017-08-16 11:37] DominiqueMakowski commented on #70
@dengemann @jasmainak Sorry to bother you with another quick question, but should artifact correction (ICA and stuff) be done rather before or after epoch repair? Thanks!

[2017-08-16 11:38] dengemann commented on #70
Depends on your data :) Both is possible. The problems autoreject and ICA
solve are somewhat independent. We tried both and both can work.

On Wed, Aug 16, 2017 at 1:37 PM Dominique Makowski <notifications@github.com>
wrote:

[2017-08-16 16:20] jasmainak commented on #70
I would reject before ICA :) Autoreject may remove some blink trials but
you still should have some signal left to compute the ICA decomposition.
Let us know what you find!

On Wed, 16 Aug 2017 at 17:08, Denis A. Engemann <notifications@github.com>
wrote:

--
Sent from my iPhone

[2017-08-16 16:31] dengemann commented on #70
I actually tend to do the opposite as I run ICA on continuous data. Make
sure to use a generous reject param in ICA.fit in that case.

On Wed, Aug 16, 2017 at 6:20 PM Mainak Jas <notifications@github.com> wrote:

[2017-08-16 16:41] DominiqueMakowski commented on #70
I see. I would intuitively fit the ICA on the Raw, but I'm afraid that some crazy signals comming from possible bad channels would mess up the whole ICA fit. On the other hand, I'm not sure about fitting it on clean epochs after autoreject 😕 I would try both and tell you what I found.

 Does it make sense to use the reject dict obtained with get_rejection_threshold for ICA.fit?

[2017-08-16 16:42] jasmainak commented on #70
Yes that's worth a try! Indeed that's one of the reasons we have the
function there

On Wed, 16 Aug 2017 at 22:11, Dominique Makowski <notifications@github.com>
wrote:

--
Sent from my iPhone

[2017-08-22 12:02] DominiqueMakowski opened #72 "Store index of remaining epochs in epochs object"
Tracking the index of epochs is useful for doing, for example, cross correlations with behavioral data or so.

For example, to compute epoch-wise signal features and match it with a dataframe with trials (epochs) as rows, one must know the absolute index of each epoch that persists after bad epochs rejection. To be further able to merge data in a nice dataframe:
[code]

Currently, I did not found

[2017-08-22 12:49] dengemann commented on #72
Checkout epochs.selection and epochs.drop_log. We are not going to mess
with epochs.info.
On Tue, 22 Aug 2017 at 14:02, Dominique Makowski <notifications@github.com>
wrote:

[2017-08-22 12:53] DominiqueMakowski commented on #72
...I did not know about epochs.selection... That resolves everything thanks!!

[2017-08-22 12:53] #72 closed

[2017-08-23 06:35] DominiqueMakowski commented on #70
Alright so I messed around a bit, and it seems to work better when epoching, rejecting and finally running ICA :)

[2017-08-23 08:29] dengemann commented on #70
For EEG this may be true. For MEG I think the other way works better.
On Wed, 23 Aug 2017 at 08:35, Dominique Makowski <notifications@github.com>
wrote:

[2017-08-31 21:36] jdue opened #73 "dropping bad epochs with multiple channel types"
I ran autoreject on a dataset containing MEG and EEG channels, however, it failed to transform the epochs due to an `IndexError` at line 636 in `autoreject.py` the reason being that `bad_epochs_idx` was of type float (causing the drop method to fail). Apparently this happens because `np.union1d` returns an array of floats when one of the inputs are an empty list. Possible fix would be changing lin

[2017-08-31 21:50] jasmainak commented on #73
Are you sure this is the right fix? If you do:

[code]

Can you share the full traceback? Thanks

[2017-09-01 00:21] kambysese opened #74 "Examples plot auto repair errors"
`ar.fit_transform(epochs['Auditory/Left'])` complaining about multiple channel types in [example script](http://autoreject.github.io/auto_examples/plot_auto_repair.html#sphx-glr-auto-examples-plot-auto-repair-py).

[2017-09-01 00:44] #74 closed

[2017-09-01 05:42] jdue commented on #73
Yes, but if you do
[code]
which happens, e.g., when `bad_epochs_idx` is initialized at line 604. The traceback

[code]

[2017-09-01 20:57] jasmainak commented on #73
okay done: https://github.com/autoreject/autoreject/commit/04cae7cee2dc5b423191cac71e84cc94e13524ed

hopefully this fixes your problem :)

[2017-09-01 20:57] #73 closed

[2017-09-04 09:24] jdue commented on #73
It did, thanks :)

[2017-09-13 22:01] jasmainak opened #75 "get_rejection_thresholds broken"
reported by @kambiz

Script: https://gist.github.com/kambysese/b68b98286b05ecf4c54172cf6ad34415
Data: https://www.dropbox.com/sh/2udqpo5e1rren5w/AADACwsT4rb9mUGX6Mr-p7Ioa?dl=0

"I've an epochs object with 320 events i.e., event_id=None and just the mag threshold estimation procedure takes > 20 mins with no end in sight. Comparatively the example script zips through with 73 events. Should I be sub-

[2017-09-18 19:52] jasmainak opened #78 "speedup median computation"
with @TomDLT we realized that the median is much slower to compute than the mean. The only way to speed this up is to compute the median in parallel with the 'threading' backend. It can give speed ups of around 30%

[2017-09-18 21:22] #75 closed

[2017-10-03 14:25] deep-introspection opened #80 "TypeError with plot_auto_repair example"
Following the install instruction, running the example plot_auto_repair.py with Python 2.7.13, it gives the error:
`TypeError: __init__() got an unexpected keyword argument 'picks'`

[2017-10-03 14:47] jasmainak commented on #80
Can you post the full traceback? On what line do you get this error?

[2017-10-04 07:51] deep-introspection commented on #80
Here is the full Traceback:

[code]

[2017-10-04 08:32] dengemann commented on #80
Are you using a recent version?

On Wed, Oct 4, 2017 at 9:51 AM Guillaume Dumas <notifications@github.com>
wrote:

[2017-10-04 08:38] deep-introspection commented on #80
As explained, I followed the install instructions on the website:
[code]

[2017-10-04 08:39] dengemann commented on #80
But maybe you have an old version installed somewhere?

On Wed, Oct 4, 2017 at 10:38 AM Guillaume Dumas <notifications@github.com>
wrote:

[2017-10-04 08:46] deep-introspection commented on #80
Got to run a `pip uninstall autoreject` twice.
Now it's back on track !
👍 🙇

[2017-10-04 08:46] #80 closed

[2017-10-11 14:00] larsoner commented on #78
Do you need a true median or is an approximation sufficient? There are some cool approximations here

https://stackoverflow.com/questions/638030/how-to-calculate-or-approximate-the-median-of-a-list-without-storing-the-list

[2017-10-11 14:01] larsoner commented on #78
in particular, you could do, say, an 8-fold `remedian` calculation, and with `n_jobs=8` it would give an 8-fold speedup (in theory)

[2017-10-11 15:40] jasmainak commented on #68
What do you mean there is no way way to control verbosity? There is a `verbose` parameter, no?

[2017-10-11 15:50] larsoner commented on #68
Not here:

https://github.com/autoreject/autoreject/blob/master/autoreject/autoreject.py#L140

And it uses `print`

[2017-10-11 15:57] jasmainak commented on #68
okay, we could fix this.

I remember running into issues with the verbosity decorator in MNE because it didn't support progressbars ...

so would prefer a simple if statement based verbose

[2017-10-11 16:01] larsoner commented on #68
IIRC in MNE we use `print` only for progressbars (because they delete) and `verbose` for everything else because it routes through `logger`, which gives lots of advantages (e.g., standard file-output setting and the like)

[2017-10-11 16:15] jasmainak commented on #68
Yeah I saw that. But some people wanted both: i.e., progressbars but also the ability to suppress them. At the moment, `autoreject` is not so fast that we could do away with the progressbars ...

[2017-10-11 16:21] larsoner commented on #68
We also do something like this in MNE. With the `verbose` decorator, you just see if `logger.level <= logging.INFO` and if so call your `print(...)`, if not, don't. Then `verbose=False` or `verbose='warning'` won't do progressbar and `verbose=True` or `verbose='info'` will. We do this in our dataset fetchers.

[2017-10-11 16:22] jasmainak commented on #68
hmm ... that might be a solution indeed

[2017-10-11 17:32] jasmainak commented on #78
This could be an interesting hack for a weekend ;)

[2017-10-31 08:57] wmvanvliet opened #84 "Obviously bad channel not detected"
I've been using autoreject to clean up a 24-subject Biosemi EEG dataset. So far, awesome results! However, I have a few subjects that have obviously bad channels, which are not detected properly in my current pipeline. Any idea's why?

Here is an example. I'm loading data like this:

[code]

Plotting the evoked shows that channel AF3 (channel index 1) is bad:

![figure_1](https://user-images.githu

[2017-10-31 08:59] jasmainak commented on #84
Can you try `method='bayesian_optimization'` instead of `method='random_search'` to see if that works?

[2017-10-31 09:36] wmvanvliet commented on #84
That did the trick!

![figure1](https://user-images.githubusercontent.com/428273/32217103-a513e7ec-be2f-11e7-86ba-c915cdc54837.png)
![figure2](https://user-images.githubusercontent.com/428273/32217110-aa9d21b0-be2f-11e7-9f03-67cca7b62bfb.png)

[2017-10-31 09:36] jasmainak commented on #84
Nice!

[2017-11-01 03:08] TomDonoghue opened #85 "Typo on autoreject.github.io"
On the Github pages (and in doc/index.rst, which I'm guessing is where the site pulls from) - there is this code section:

When I try to run it, I can't import get_rejection_thresholds, and when I check the code, it seems simply to be a typo - the function is called get_rejection_threshold, (without the s).

Anyways, just a heads up on that.

[2017-11-01 07:02] dengemann commented on #84
Hum ... this makes me wonder if it was right to change it to random search.
What was the reason again? Irreproducible findings and funky states ?
Hadn’t we fixed it then?
On Tue 31 Oct 2017 at 10:36, Mainak Jas <notifications@github.com> wrote:

[2017-11-01 08:37] wmvanvliet commented on #84
I still have a subject that has an obviously bad channel that is not properly detected. While changing to `method='bayesian_optimization'` improved matters, it did not fix the issue for all my subjects. Wouldn't it make sense to say that if a channel is bad for > 50% of the trials, it should just be interpolated for all of them? If I remember @dengemann 's talk at Aalto correctly, I thought that w

[2017-11-01 08:44] dengemann commented on #84
That’s the intuition but it’s not as simple. It would be good to understand
what happens in your case.
On Wed 1 Nov 2017 at 09:37, Marijn van Vliet <notifications@github.com>
wrote:

[2017-11-01 08:45] wmvanvliet commented on #84
I'll share the data with @jasmainak.

[2017-11-01 08:49] wmvanvliet commented on #84
Here are the plots for the subject:

![figure_1](https://user-images.githubusercontent.com/428273/32266933-0f5856a2-bef2-11e7-9eff-c9edc4f5b77e.png)

The bad channel is C4, with index 22.

![figure_2](https://user-images.githubusercontent.com/428273/32266958-303d526e-bef2-11e7-972b-7a222b961834.png)

It was marked bad in a lot of trials, but not in all of them.

![figure_3](https://user-images.git

[2017-11-01 08:50] wmvanvliet commented on #84
The data is pretty noisy overall, maybe that has something to do with it?

[2017-11-01 08:55] dengemann commented on #84
Good question ...
You can of course introduce rules and just update this rejection matrix.
On Wed 1 Nov 2017 at 09:50, Marijn van Vliet <notifications@github.com>
wrote:

[2017-11-01 09:22] jasmainak commented on #84
@dengemann "bayesian optimization" works better than "random search": that is for sure: and it is the default too as far as I remember. We had "random search" in one of the examples only because it was slightly faster.

@wmvanvliet if you share the data, I can take a look

[2017-11-01 09:25] jasmainak commented on #85
Thanks @TomDonoghue ! This is fixed now in https://github.com/autoreject/autoreject/commit/21697b978d9625d41ff45939c6ab7049d5c45b76

[2017-11-01 09:25] #85 closed

[2017-12-06 16:09] antopolskiy opened #87 "number of epochs rejected -- why one more is rejected?"
I was examining the code to see whether I can model the number of rejected epochs with different consensus values without re-running the algorithm with different consensus values, and I always saw that the number of epochs rejected by autoreject is 1 more than I would reject, using `ar.bad_segments` and consensus value (i.e. `np.where(ar.bad_segments.sum(axis=1)>=(consensus*len(epochs.ch_names)))`

[2017-12-07 00:41] jasmainak commented on #87
looks like a bug to me. Feel free to make a PR.

[2017-12-19 17:24] #87 closed

[2018-04-07 18:30] mattboggess opened #92 "Bad Channels are Used for Interpolation"
Hello,

Thanks for making this tool, it filled a much needed gap in my preprocessing pipeline!

I've run into one issue while using it that I wanted to raise though. If the epochs object that you run autoreject on has bad channels marked, these get ignored when running autoreject as expected. However, when actually transforming the original epochs to get the cleaned version, these bad channels are

[2018-04-07 21:18] jasmainak commented on #92
Hi @mattboggess this does sound like a bugfix. Could you make a PR and add a test? Thanks

[2018-04-24 08:39] jasmainak commented on #49
can we close this @dengemann ? It seems to me that this was already taken care of in #45

[2018-04-24 08:41] jasmainak commented on #67
what was the issue here?

[2018-04-26 15:12] #65 closed

[2018-05-19 10:04] wkruijne opened #99 "Using autoreject on hilbert envelope to detecting EMG artefacts?"
Hi there,

This is less of an 'issue' than a general question for a use, but this seemed like the easiest way to get in touch.
First off: thanks for all your hard work on the openness, clarity and ease of  use regarding everything autoreject. I have a pretty general  question:

I am in a lab where we typically would use FieldTrip's z-score based method for detecting segments of data with muscle ar

[2018-05-19 20:46] jasmainak commented on #99
Hi @wkruijne ! Indeed, this would be an interesting usecase of autoreject that we have considered before. However, it has not been thoroughly tested by me. I would be curious to hear back how it works on your data with such a pipeline. If there is an interesting public dataset on which we could demonstrate this, I would even welcome a pull request to include in the `autoreject` website. Cheers.

[2018-05-19 21:10] dengemann commented on #99
I second that. It sounds like a clever idea and I'd be happy to see if it
can work. Pleas go for it!

On Sat 19 May 2018 at 22:46, Mainak Jas <notifications@github.com> wrote:

[2018-05-20 16:47] jasmainak commented on #48
closed by https://github.com/autoreject/autoreject/pull/97

[2018-05-20 16:47] #48 closed

[2018-05-20 16:47] jasmainak commented on #47
closed by https://github.com/autoreject/autoreject/pull/97

[2018-05-20 16:47] #47 closed

[2018-05-20 16:48] jasmainak commented on #53
closed by https://github.com/autoreject/autoreject/pull/97

[2018-05-20 16:48] #53 closed

[2018-06-04 21:52] jasmainak opened #100 "autoreject release"
Following conversation with @agramfort here I am creating a list of things to do before the release.

Feel free to add comments or edit it @agramfort @dengemann

- [x] Make `GlobalAutoReject` and `LocalAutoreject` private
- [x] Update API documentation to reflect new class related to `RejectLog`.
- [x] Fix verbosity issue with tqdm
- [x] Don't change CV in fit? # not sure I understood the issue he

[2018-06-07 09:49] jasmainak commented on #92
closed by https://github.com/autoreject/autoreject/pull/93

[2018-06-07 09:49] #92 closed

[2018-06-07 09:50] jasmainak commented on #67
I think this is good. @dengemann feel free to reopen if you disagree

[2018-06-07 09:50] #67 closed

[2018-06-07 09:54] jasmainak commented on #49
closing, feel free to reopen @dengemann if you disagree

[2018-06-07 09:54] #49 closed

[2018-06-07 09:54] jasmainak commented on #11
I think all the issues here have been taken care of

[2018-06-07 09:54] #11 closed

[2018-06-07 10:00] jasmainak commented on #66
I think all these issues have been addressed

[2018-06-07 10:00] #66 closed

[2018-06-09 06:30] #100 closed

[2018-06-10 20:53] dengemann opened #102 "API: avoid partial + thresh_func outside to simplify usage / add n_jobs arg"
@jasmainak @agramfort  Is anything preventing us from hiding the complexity of making partial functions by just adding an n_jobs argument to AutoReject?

I think this would make things look even less surprising and simpler.

Compare:

[code]

Versus:

[code]

[2018-06-10 20:54] dengemann commented on #102
If nothing speaks against this pattern we should do it before the release.

[2018-06-11 07:21] jasmainak commented on #102
I think it was originally done so you could use `mem.cache` and pass it to AutoReject. Not sure if it's important any more from a user perspective ...

[2018-06-11 07:56] agramfort commented on #102
agreed with @dengemann

it would simplify code.

[2018-06-11 08:17] dengemann commented on #102
If preserving caching is a point we could use n_jobs such that it is passed
to the default thresh_func but is not passed if the thresh func does not
have (any longer) n_jobs default values or is a partial object. Should be
possible to inspect.

On Mon 11 Jun 2018 at 09:56, Alexandre Gramfort <notifications@github.com>
wrote:

[2018-06-11 10:56] jasmainak opened #104 "migrate to circle 2.0"
Let's do it after the release

[2018-06-11 14:36] jasmainak opened #106 "add travis for python 3"

[2018-06-11 14:52] agramfort commented on #106
should be pretty simple:

https://github.com/mathurinm/celer/blob/master/.travis.yml

[2018-06-12 13:18] so-phi opened #107 "AutoReject deprecated?"
I have just started using autoreject, so sorry if this is obvious. But I could not find a hint at my problem when looking at the other issues.

When I try to  use AutoReject, as explained in the Quickstart guide:
[code]
I get an "cannot import name 'AutoReject' " error. I could however import GlobalAutoReject or LocalAutoreject.

Has AutoReject been replaced by these functions or am using a wrong

[2018-06-12 15:23] so-phi commented on #107
Hi @jasmainak, autoreject was already on version 0.1 . I have reinstalled it using the latest version on pypi but the error is the same.  Here is list of the other packages+versions I'm using in that environment:

autoreject==0.1
certifi==2018.4.16
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==2.2.2
mne==0.16.1
numpy==1.14.3
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
scikit-learn==0.19.1

[2018-06-12 15:27] jasmainak commented on #107
hmm ...

when you do:

[code]

what do you get?

[2018-06-12 15:29] so-phi commented on #107
AttributeError: module 'autoreject' has no attribute '__version__'

[2018-06-12 15:31] jasmainak commented on #107
That's weird ...

what about:

[code]

and what do you get when you do:

[code]

[2018-06-12 15:34] so-phi commented on #107
1)
/opt/anaconda3/lib/python3.6/site-packages/autoreject

2)
autoreject      0.1

[2018-06-12 15:37] jasmainak commented on #107
I am lost ... it's working for me fine

@agramfort @dengemann any suggestions?

[2018-06-12 16:04] so-phi commented on #107
Ah I found the problem. Both my IDEs were using the old autoreject from the general site-packages. Yet pip showed the information for the updated package within the environment.
Thanks you for the fast replies!

[2018-06-12 16:04] #107 closed

[2018-06-12 16:06] jasmainak commented on #107
Glad it worked !

[2018-06-18 15:12] so-phi opened #109 "Too few channels. autoreject is unlikely to be effective"
Hi,
I try to use autoreject on 3-channel sleep EEG and MEG data. Interestingly I can use the _get_rejection_threshold_ method to obtain the rejection dictionary. Yet for the
    ar = AutoReject()
    epochs_clean = ar.fit_transform(epochs)
procedure, I get the following error _Too few channels. autoreject is unlikely to be effective_. Now I was wondering, whether the rejection threshold is then no

[2018-06-18 15:24] jasmainak commented on #109
The data interpolation won't be good if you have too few channels. It's a good question as to how many channels are necessary for the interpolation to work. But 3 certainly sounds low. Any opinion @agramfort @dengemann ?

Also, the rejection threshold can be trusted if the channel has less than 50% corrupted data. If the channel is globally bad, the data augmentation trick is necessary. This trick

[2018-06-18 15:35] agramfort commented on #109
yes 3 channels is too little.

I would have said > 30 channels but it's just an educated guess... nothing
quantitative

[2018-06-18 18:06] dengemann commented on #109
Perhaps interpolation can be bypassed such that epochs are simply dropped
in case there are too many bad channels.
On Mon 18 Jun 2018 at 17:35, Alexandre Gramfort <notifications@github.com>
wrote:

[2018-06-18 18:38] #106 closed

[2018-06-22 13:07] DFPV opened #111 "Usage question: Autoreject + ICA: better on continuous or Epochs?"
Dear all,

I would like to use autoreject in my EEG analysis pipeline, but I am having some doubts about when exactly to implement it (in terms of order, before or after ICA?) and on which data (Epoched or continuous?). (I might just be splitting hairs here, but I just want to be sure). Here my concern:

On the autoreject documentation, it is recommended to "first using autoreject to detect the ba

[2018-06-22 13:17] jasmainak commented on #111
@DFPV autoreject is indeed meant for epoched data but you can use ICA on either raw or epoched data.

One thing that you can do is to use the [make_fixed_length_events](https://www.martinos.org/mne/stable/generated/mne.make_fixed_length_events.html) function in MNE to learn global rejection thresholds, then pass them to ICA. I believe for ICA, you simply need to remove data segments that are reall

[2018-06-22 13:58] DFPV commented on #111
Thanks for the suggestion @jasmainak!. But I am not sure I quite get it (I'm still kind of new to EEG in general and very new to MNE-python in particular, so plenty of details still elude me).

If I understand correctly, the 'make_fixed_length_events' will create epochs that won't discard any data, and I can use that object with the 'get_rejection_thresholds' command (which takes an epoched object

[2018-06-22 22:12] jasmainak commented on #111
so far good

umm ... I am not sure what you mean by "extracting" the ICA. What I was suggesting is to do:

[code]
so you can fit the ICA on the epochs object. I would suggest ICA _before_ autoreject if you don't want to end up removing all the trials due to eyeblinks ...

I would recommend interpolating only once. So, if you are applying autoreject after ICA, it will do the job for you. It is okay

[2018-06-25 11:02] DFPV commented on #111
Great, thanks a lot! That does answer clarify my doubts.

[2018-06-25 11:02] #111 closed

[2018-06-27 19:15] alexrockhill opened #112 "Epochs event_id field misaligned after autoreject"
After running ar.fit_transform(epochs), I get an error when the returned epochs are averaged to make and evoked object when autoreject rejects one of more epochs. This is avoided when I delete the event_id entries that corresponded to the dropped epochs. Is this a feature that allows event_id entries to be recovered if the epochs should actually not be dropped or a bug?

[2018-06-27 20:50] jasmainak commented on #112
This should not happen. Can you provide a script (using the MNE sample data) to reproduce the error you are getting?

[2018-06-28 06:45] agramfort commented on #112
maybe you dropped all epochs from one type of event?

[2018-06-28 11:48] jasmainak commented on #112
okay, so issue is solved?

[2018-06-28 13:19] alexrockhill commented on #112
Yes, thanks.

Alex

[2018-06-28 13:19] #112 closed

[2018-06-28 13:19] jasmainak commented on #112
Great !

[2018-07-10 21:57] jasmainak opened #113 "buggy channel picking"
From the [mailing list](https://mail.nmr.mgh.harvard.edu/pipermail/mne_analysis/2018-July/005072.html):

Hi,

i am trying to explore a little the "autoreject" tools. specifically i am trying to apply following example:
https://autoreject.github.io/auto_examples/plot_auto_repair.html#sphx-glr-auto-examples-plot-auto-repair-py

to a dataset recorded in salzburg.

i adapted the code to chop out 2s ep

[2018-07-30 20:06] jona-sassenhagen commented on #78
Everything making it go faster would be highly appreciated!

[2018-07-30 20:07] agramfort commented on #78
autoreject is slow on your data?

[2018-07-30 20:07] jona-sassenhagen commented on #5
save would still be nice :)

[2018-07-30 20:08] jona-sassenhagen commented on #78
It's usually the slowest step in my pipeline ... I'm running it on 2000-epoch EEG (200 Hz, 60 channels) right now and it takes forever :D

It's not unusably slow, but if possible, making it faster would be appreciated.

[2018-07-30 20:12] agramfort commented on #78
can you share a snippet and a file so we can profile?

[2018-07-30 20:13] jona-sassenhagen commented on #78
Sorry, I can't, this isn't my data .( I can see if I can find something similar though.

[2018-07-30 20:28] larsoner commented on #78
Maybe just `EpochsArray` with `np.random.rand` and `create_info`?

[2018-07-31 12:49] jasmainak commented on #78
I'll get to these later this week. Thanks for reporting. @jona-sassenhagen are you using `n_jobs > 1` ?

[2018-08-09 08:37] mmagnuski commented on #99
@wkruijne I was also considering this (but in a scenario where instead of ERPs or envelopes I would have psd data in each epoch). I didn't test it but one of the problems I imagine is that amplitude and power are zero-bounded so their distributions are skewed and median will always be lower that mean, so even in very clean data autoreject should reject some trials to make mean more similar to medi

[2018-09-17 07:36] #104 closed

[2018-09-18 17:47] #113 closed

[2018-10-16 14:36] dengemann opened #118 "ENH/DOC: explain in clear terms why autoreject + interpolation poses no harm to source analysis"
This is a recurrent question and I heard it 5 times in the last 24 hours. cc @jasmainak @agramfort

[2018-10-16 20:28] jasmainak commented on #118
We could add it a note in the [FAQ](http://autoreject.github.io/faq.html). Let me add a few thoughts. We can sharpen this:

- removing artifacts is better than not removing them. It might seem obvious to state it, but probably worth mentioning.
- the rank of the covariance matrix is [estimated automatically in MNE](https://github.com/mne-tools/mne-python/blob/17e1c2906c64e13e1f60213b5422ef7c103eae

[2018-10-17 15:44] agramfort commented on #118
I also suggested to Denis to do random interpolation from clean data to
demonstrate
that it does not afffect significantly the source loc eg with a dipole fit
using a phantom.

[2018-10-19 14:12] TomDonoghue opened #119 "Save & Load methods"
It would be nice to have methods available to save and load AutoReject objects.

Currently I'm just pickling them - but I was also looking into how similar objects are dealt with this, like ICA objects in MNE, which save out to FIFF - but not sure that is needed here.

Would there be any reason to save and load them with anything other than pickle?

If pickle makes sense, and it's just a case of a

[2018-10-19 15:21] jasmainak commented on #119
It seems this is a frequently requested feature, so I'm +1 on a convenience method.

@dengemann I can take a stab at it if you're not opposed to the idea.

[2018-10-19 17:06] dengemann commented on #119
Please do! I’ll review.
On Fri 19 Oct 2018 at 17:22, Mainak Jas <notifications@github.com> wrote:

[2018-11-15 16:32] #119 closed

[2018-11-24 01:23] cmmoenne opened #121 "mne-python externals do not have six any more (pull #5726)"
As I use mne-dev, now I have an `ImportError: cannot import name 'six'` when using autoreject.

[2018-11-24 08:48] agramfort commented on #121
fixed by https://github.com/autoreject/autoreject/commit/482d692492c3a86f0656d90a5dff829324ab039c

in master

thx for the bug report

[2018-11-24 08:48] #121 closed

[2018-11-24 16:35] jasmainak commented on #121
Thanks @agramfort

[2018-11-24 16:53] dengemann commented on #109
Btw. I recently saw AR performing nicely on 18 channel clinical EEG. Perhaps worth a small simulation.

[2018-12-25 09:24] kalenkovich opened #123 "autoreject to detect bad channels before MaxFilter"
In [A Reproducible MEG/EEG Group Study](https://www.frontiersin.org/articles/10.3389/fnins.2018.00530/full) you wrote

Could you share a few thoughts on why it is better to detect bad channels manually prior to applying MaxFilter? Could `autoreject` be used to detect (but not repair) bad channels at this stage as well?

[2018-12-25 09:33] dengemann commented on #123
Yep that could work. You may only end up with cases where autoreject only labels a given bad channel as bad in 99% of the time, which may necessitate using thresholds. But once you fit autoreject you can just use the reject log for deciding about bad channels. Another constraint is that autoreject does not detect flat channels. So checking for a few constantly bad channels prior to maxfilter is no

[2018-12-25 11:12] kalenkovich commented on #123
Thank you for the reply, @dengemann. It sure helps. I am just not sure I understand this point:

Do you mean that `autoreject` is overly conservative or the opposite? :-)

Otherwise, do you think the following approach makes sense?

1. Identify flat channels.
2. Use `fit` and then `get_reject_log` on non-flat channels to get candidates for rejection.
3. Select from the candidate pool manually.
4.

[2018-12-26 06:01] jasmainak commented on #123
@kalenkovich let me try to help. The way autoreject works, it tells you bad channels _per epoch_. But it cannot decide for you what channels are globally bad. Thus you would have to make the judgement yourself -- what constitutes as a globally bad channel? Is it when the channel is bad for 99% of the trials or is it when even 80% of the trials are bad? Personally I think it should not matter that

[2018-12-26 09:10] kalenkovich commented on #123
Thank you, @jasmainak and @dengemann !

[2019-01-22 00:38] danieltomasz opened #124 "autoreject forever stuck in computing global threshold"
I am trying to define custom epochs and use autoreject do clean the data.
But when I am defining my epochs I use `autorject.fit` it hangs on computing global threshold (I tried to debug it is harder than I thought, I only get to this point)

as MWE I am adding code from  MNE  tutorial (It has the same problem like my data)
Probably I am doing something wrong with constructing the events or miss a

[2019-01-22 02:55] jasmainak commented on #124
you haven't supplied any positions to the channels. If I do:

[code]

I get:

[code]

maybe worth throwing an error early on if this is the case. PR is welcome if you feel up to it :)

[2019-01-22 15:16] danieltomasz commented on #124
The check if data contains channel positions  should be done on the level of `utils._check_data`?

[2019-01-22 18:35] jasmainak commented on #124
yep it's needed for autoreject (local) to work. Even for finding the thresholds it's needed. Unless you want to turn off data augmentation, which I think is possible [using the `augment` argument](https://github.com/autoreject/autoreject/blob/master/autoreject/autoreject.py#L358) but it will give you thresholds which are not as good.

Also you can copy the [code for checking channel positions](htt

[2019-01-29 11:05] dasdiptyajit commented on #121
@jasmainak I am having the same issue (ie., can't import 'six'). I am using mne & autoreject -dev version.

[2019-02-03 13:59] AmirDJV opened #125 "Channel based rejection as rejection threshold in MNE + averaged reference"
I apologize for being a noob but I have two questions:

1. While [`get_rejection_threshold`](http://autoreject.github.io/generated/autoreject.get_rejection_threshold.html#autoreject.get_rejection_threshold) returns a global rejection thresholds as a dictionary of number per key (‘mag’, ‘grad’, ‘eeg’, ‘eog’ and ‘ecg’),[`compute_thresholds`](http://autoreject.github.io/generated/autoreject.compute_t

[2019-02-03 16:49] jasmainak commented on #125
Hi @AmirDJV you shouldn't be using `compute_thresholds`. It's mostly for demo purposes in the example. For using the channel-specific thresholds, you should use the [`AutoReject`](http://autoreject.github.io/generated/autoreject.AutoReject.html#autoreject.AutoReject) class which internally calls `compute_thresholds`. See [here](http://autoreject.github.io/auto_examples/plot_visualize_bad_epochs.ht

[2019-02-04 08:52] AmirDJV commented on #125
Hi @jasmainak  thank you very much for your response!

Based on the [FAQ](http://autoreject.github.io/faq.html) I thought it would be possible to run something close to the below but with `compute_thresholds`. Thank you very much for the clarification. I'll use it as you said :)

[code]
I'm dealing with continuance data so "normal" epoching doesn't necessarily makes sense in my case. Thus, I was l

[2019-02-04 15:36] jasmainak commented on #125
Yes, look into the MNE `Annotations` object. The `ica.fit` in MNE is probably aware of it -- so if you set annotations in raw using autoreject, you might be able to do what you want. But you'll have to create the annotations yourself.

In the first epoch, note that T8 will not be interpolated or rejected. It was marked as bad by the channel-wise threshold but no action will be taken upon it by aut

[2019-02-04 20:24] TomDonoghue opened #126 "verbose=False argument gets typecast in save/load, leading to error."
If AutoReject.verbose is set to `False`, then through the save & load procedure, the loaded AutoReject object ends up with the attribute set as 0, which then leads to an error if you try to use that reloaded object to do anything.

This is only the case for verbose='False' (other verbose settings are fine).

This example recreates the issue:
[code]

The actual error that arises at that point comes

[2019-02-04 21:00] TomDonoghue opened #127 "Option to separately apply interpolation & epoch rejection"
So, the question / suggestion is to offer the user the option to selectively apply epoch rejection and channel interpolations in the `transform` method, for channel-level approaches in the `AutoReject`.

But this comes through a question, because maybe I'm missing something / doing something weird:

I have an analysis in which I analyze some epochs under different filtering conditions, so I filter

[2019-02-04 22:06] jasmainak commented on #127
@TomDonoghue the notion of `fit` and `transform` is for such use cases. If you do:

[code]

and then later

[code]

It should reuse the same parameters that have been fit -- the same thresholds, the same rho and kappa.

Now, I am not sure what you mean by "equivalently cleaned". To me, if you use the same parameters of `autoreject` that would be equivalently cleaned. What I am afraid is that rejec

[2019-02-04 22:09] jasmainak commented on #123
Closing the issue as OP was satisfied with the answers.

[2019-02-04 22:09] #123 closed

[2019-02-04 22:44] TomDonoghue commented on #127
Ahh, yes - that's how I was originally doing it (fit on one set of epochs, and then apply the transform to whatever copies I wanted) - but I realized that it doesn't necessarily apply the same across different versions of the epochs.

If you've learned thresholds in a "raw" (un / less-filtered) set of epochs, and try to apply it a filtered copy, then the filtered copy does not necessarily have the

[2019-02-04 22:59] jasmainak commented on #126
So for your first error, it seems the `read_hdf5` and `write_hdf5` functions that I was using from MNE does not like boolean variables. I think it would be better to add a condition during the save and load to check if it's boolean and then if so, convert it to and int with value 0.

Good point! I think we should raise an explicit error inside the [_pbar function](https://github.com/autoreject/aut

[2019-02-05 09:36] AmirDJV commented on #125
Thank you for your help and for the amazing thing you (all) doing here ! :)

[2019-02-05 09:36] #125 closed

[2019-02-05 19:47] jasmainak commented on #127
I see what you mean and your code seems to be just fine for the use case you mention. Except that it uses private API. I suppose then you do not want to apply interpolation and rejection separately then. You want to decouple computing the reject log from applying it on epochs. So, one could potentially envision:

[code]

is this something you'd be interested in making a PR for? I'd be interested i

[2019-02-10 07:54] AmirDJV opened #128 "Bridged/shorted channels"
Hi,

This is less than an issue and more of a question.

Does autoreject deal/detect bridged/shorted channels? if yes, how?

Thank you for your all hard and amazing work!

[2019-02-10 15:53] jasmainak commented on #128
Hi @AmirDJV no autoreject is only meant for high amplitude artifacts at the moment. It's crucial to remove these for algorithms downstream in the pipeline. However, there are indeed other kinds of artifacts that it does not deal with and bridged channels is one of them.

[2019-02-11 06:27] AmirDJV commented on #128
Thank you for your prompt respond :)

[2019-02-11 06:27] #128 closed

[2019-02-27 07:36] AmirDJV opened #132 "Convention for saving autoreject objects to later process in MNE"
Hi,

Thank you very much for the amazing module and support!

I'm trying to stick to your (and MNE's) coding conventions and style guides.

After running my epochs through autoreject, I'm ending up with 3 object:
1. Original epochs.
2. Autoreject epochs.
3. Reject log.

As for now I'm mainly pickling them, I was wondering if there is a convention (or appropriate way) on how I should save them for

[2019-02-27 08:00] agramfort commented on #132
epochs and autoreject objects have a .save method
for reject log I would use a .mat although agree it's not ideal to separate
the infos

[2019-02-27 08:28] AmirDJV commented on #132
For now I'm saving my the original epochs and autoreject epochs using varName.save(varName_epo.fif).

Would you include a .save method for the reject log in the future?

[2019-02-27 10:45] agramfort commented on #132
yes we should add a save to RejectLog

[2019-02-27 11:15] AmirDJV commented on #132
Great and looking forward for future updates :)

[2019-02-27 11:15] #132 closed

[2019-02-27 20:02] jasmainak commented on #132
can I ask why `AutoReject().save()` does not do the job for you? You can simply reapply the transform method on the saved autoreject object to get back the reject log

[2019-02-28 08:48] AmirDJV commented on #132
Later on in my work flow I match participants reject logs, so having them already calculated (I think) will make my life easier.
However, I can see how the use of `AutoReject().save()` could be more elegant code wise.

[2019-02-28 08:59] AmirDJV opened #133 "Error during fit_transform - RuntimeWarning: Mean of empty slice and RuntimeWarning: mean of empty slice. radius_init = radii.mean()"
Hi,

I encountered two (I think they are the same) errors while running
[code]
If I run the code in spyder I get:

In jupyter notebook I get:

Running the script in anaconda prompt directly will also cause it to crash.

The odd part is that if I will crop my raw/epochs (not all crops though) it will run perfect.

Reproducible example using this [data](https://github.com/AmirDJV/github-question/blo

[2019-02-28 10:45] dengemann commented on #132
The reject log can be easily written into a hdf5 file as a dictionary. I think adding a convenience method / function pair would not hurt.

[2019-02-28 23:38] jasmainak commented on #133
I confirm the problem. Thanks for reporting. If we put

[code]

at the top of your script, you can find that somehow autoreject is trying to interpolate all the channels for a particular epoch. It's because the default `n_interpolate` is `np.array([1, 4, 32])` and you have 32 channels. The easy fix for you is to change this to something like `np.array([1, 2, 4, 8])`.

However, I need to investigat

[2019-03-01 11:52] AmirDJV commented on #133
Thank you for the prompt response and solution.

However, I didn't fully understand what `n_interpolate` does?

In addition, If there's anything I can do to help please tell me :)

[2019-03-01 18:57] jasmainak commented on #133
The `n_interpolate` is the `rho` in the Autoreject paper. It's the maximum number of electrodes that autoreject can interpolate in an epoch. Because if you try to interpolate too many electrodes, it will not improve signal quality. But since this is not known beforehand, you learn it by searching over many potential values. That's why `n_interpolate` is an array.

[2019-03-01 20:21] #124 closed

[2019-03-06 07:24] #126 closed

[2019-03-06 23:27] #118 closed

[2019-04-22 21:44] LegrandNico opened #136 "RANSAC - Error in bad_log array when n_jobs > 1"
Using n_jobs > 1 with Ransac lead to a corrupted bad_log array, showing the repetition of the same pattern n times. This can be reproduced directly from the example: https://autoreject.github.io/auto_examples/plot_ransac.html

**n_jobs=1**

![njob_1](https://user-images.githubusercontent.com/27711796/56533285-ae291980-6557-11e9-94de-bc390e4e6fd1.png)

**n_jobs=10**
![njob_10](https://user-images.g

[2019-04-23 06:28] agramfort commented on #136
this needs a fix here:

https://github.com/autoreject/autoreject/blob/master/autoreject/ransac.py#L200

pb is the following. When you spawn a new process you inherit the
random_state so each process starts to use the same random state.

Solution : pass a seed to child process or precompute the random stuff
before the parallel call. Can you give it a try?

[2019-04-23 15:52] yvonnio opened #137 "erorr with joblib parallel"
Hi guys,
I'm having issues running ransac after updating autoreject to the latest dev version.  I updated to fix another issue (#121) since I'm using mne-dev.  My new error seems to stem from sklearn parallel backends.

[code]

This is my setup from `mne.sys_info()`:

Any ideas?

[2019-04-23 22:35] jasmainak commented on #137
Not sure, try using joblibs directly and if it fixes it. PR to fix it would be welcome

[2019-04-23 22:43] yvonnio commented on #137
My temporary solution thus far has been to uninstall autoreject, pip install autoreject again (version 0.1) and then manually change the autoreject/utils.py as in the commit for this issue #121 .  This works fine and I have no problem running ransac or autoreject with n_jobs=6.

I'm not sure how to run it with joblibs directly.

[2019-04-23 23:08] jasmainak commented on #137
Oh I see your issue. You should not manually edit your install. Instead, install the development version ...

[2019-04-23 23:11] yvonnio commented on #137
Maybe I should clarify, I did install the development version using `pip install https://api.github.com/repos/autoreject/autoreject/zipball/master` which gave me my original issue with joblibs.  I can overcome this issue by doing my "manual editing" method which is clearly far from ideal.

[2019-04-23 23:15] jasmainak commented on #137
hmm ... in that case, it might be worth going back on the commits and seeing which commit breaks things. You could use "git bisect" for this purpose. It will help someone else not relearn the same lessons and have a clean solution in the master

[2019-04-24 11:46] LegrandNico commented on #136
Hello Alex, thanks for the reply, I am currently travelling so I will try to work on it next week if the issue is still open.

Just to be sure: do you think this bug only concerns the bad_log array or is the clean_epochs also impacted?

[2019-04-24 13:02] agramfort commented on #136
I don't know.

[2019-04-24 13:42] jasmainak commented on #136
let's assume both unless otherwise found. A fix is welcome!

[2019-05-06 06:46] kalenkovich opened #139 "ECG missing in get_rejection_threshold results"
The docstring for `autoreject.get_rejection_threshold` states that 'ecg' should be in the returned `reject` dictionary:

    Returns
    -------
    reject : dict
        The rejection dictionary with keys 'mag', 'grad', 'eeg', 'eog'
        and 'ecg'.

But then the iteration over channel types skips ECG:

    for ch_type in ['mag', 'grad', 'eeg', 'eog']:

Is this done on purpose? Should a differe

[2019-05-06 06:51] dengemann commented on #139
Thanks for reporting. This is a bug. The 'ecg' should not appear in the documentation.

[2019-05-06 15:20] #139 closed

[2019-05-18 20:24] jgeller112 opened #141 "LocalAutoRejectCV"
Is this function depreciated? I cannot load it from autoreject.

[2019-05-18 20:30] dengemann commented on #141
yes. it is now simply AutoReject.

[2019-05-19 15:10] jasmainak commented on #141
Yes, this function is now changed to AutoReject -- no deprecation because we didn't make a release before.

[2019-05-19 15:10] #141 closed

[2019-05-21 00:24] jgeller112 opened #142 "Bad channels not detected"
Hello,

I am working with data where some of the Ss have cochlear implants--this creates some pretty noisy data. For reference, I am applying autoreject after ICA to EEG data.

[code]
Even after applying ICA, I get something like this:
![image](https://user-images.githubusercontent.com/18429968/58059383-389e7200-7b32-11e9-8fcb-fab35604b8dc.png)

[code]
I figured autoreject might clean this up, but

[2019-05-21 01:34] jasmainak commented on #142
hi @jgeller112 it looks to me that you need to highpass filter your data first. There are dc offsets and autoreject is not meant for this.

[2019-05-21 02:58] jgeller112 commented on #142
I did high-pass filter at  1hz. Would you recommend a different high-pass filter?

[2019-05-21 03:08] jasmainak commented on #142
Then I don't understand why there are these offsets even after highpass filtering. You need to look closer into your data.

[2019-05-21 03:14] jgeller112 commented on #142
It looks like a 2Hz filter gets rid of those offsets. Thanks for your help! I appreciate it.

[2019-05-21 03:17] jasmainak commented on #142
okay good to know! :) Closing issue

[2019-05-21 03:17] #142 closed

[2019-05-27 16:15] sappelhoff opened #144 "DOC: Provide "intuition" on what autoreject does"
The paper on autoreject explains most of the details to understand the code. However, it's not a very easy read and I think that the docs would benefit from a small section providing an "intuition" on how autoreject works.

A possible place could be in the [FAQ](http://autoreject.github.io/faq.html).

Below I paste a first draft of what I envision such a "intuition" to be like for autoreject globa

[2019-05-27 17:21] jasmainak commented on #144
Do you think this example could be molded into a tutorial: http://autoreject.github.io/auto_examples/plot_global_reject.html#sphx-glr-auto-examples-plot-global-reject-py with the points above that you mention?

Something that I've done in the past is to show the evoked for different rejection thresholds. For example [here](https://jasmainak.github.io/mne-workshop-brown/preprocessing/autoreject.htm

[2019-05-28 14:42] sappelhoff commented on #144
yes, that's an option ... however I think that providing it in the FAQ would give it more visibility ... so users don't "discover it by accident" when going through the examples, but rather: they have a question, they go to FAQ, they find a table of questions (not yet there, but we should add it as FAW grows), and they go to what they are interested in.

the widget does not really work - there are

[2019-05-29 00:26] jasmainak commented on #144
hmm ... the FAQ is more a place for things that are like "discussion" -- should I do X or should I do Y? I don't want to mix it with things that describe the model.

Perhaps we could add another section called "model" or "algorithm" or "tutorial" to the navbar so it's easy to discover? In sphinx gallery you can have different directories for different kinds of examples so this example can be moved

[2019-06-04 20:40] jasmainak commented on #137
closing this issue as it has been fixed in master. We need to make a release for a more permanent fix.

[2019-06-04 20:40] #137 closed

[2019-06-05 14:44] jasmainak commented on #136
closed by #138

[2019-06-05 14:44] #136 closed

[2019-06-24 02:45] #144 closed

[2019-07-01 15:16] jgeller112 opened #150 "New Version"
Hello,

I updated to the new version of AR and encountered an issue that I did not have before:
[code]
Error:
clean_by_interp() got an unexpected keyword argument 'dots'

[2019-07-01 15:27] #150 closed

[2019-07-01 15:32] jasmainak commented on #150
Can you post why you closed this? I suppose you didn't have the right version?

[2019-07-01 16:03] jgeller112 commented on #150
I updated some of the dependancies and it seemed to solve the problem.

[2019-07-31 12:19] mkoculak opened #151 "Making reject_log.plot() more flexible"
Hi,
first of all, many thanks for this awesome library.

I am doing a lot of fairly automatic preprocessing on EEG data and would like to generate plots for each autoreject cleaning that I can inspect later for a sanity check.

The existing plot function does not enable to capture the figure and modify it or save.
Also my data contains ~2000 epochs and 64 channels, which makes the plot really diff

[2019-07-31 14:40] jasmainak commented on #151
Pull requests are absolutely welcome! In fact, it's probably preferred over this since here I can't see what you changed. Thanks a lot.

[2019-07-31 15:06] mkoculak commented on #151
Right!
Made a pull request here: https://github.com/autoreject/autoreject/pull/152

[2019-07-31 15:06] #151 closed

[2019-09-03 15:40] sappelhoff opened #153 "autoreject import failing with mne python master"
with mne-python dev installation and autoreject pip (latest pypi) installation, `import autoreject` yields the following:

(error not present when using mne-python 0.18.2)

[code]

[2019-09-03 16:12] sappelhoff commented on #111
@jasmainak I think your suggestion from https://github.com/autoreject/autoreject/issues/111#issuecomment-399439073 regarding fixed length epochs should go to the docs, --> it's not there yet: http://autoreject.github.io/faq.html

[2019-09-03 18:29] jasmainak commented on #111
Indeed, do you want to make a PR? :)

[2019-09-03 18:31] jasmainak commented on #153
arggh ... this was bound to happen. @agramfort are you open to adding an argument to the epochs plotting code in MNE so that we avoid duplicating and breaking autoreject with every release of MNE?

[2019-09-03 18:55] agramfort commented on #153
you want to pass the autoreject labels? yes it seems reasonable to me.

[2019-09-04 02:47] jasmainak commented on #153
yep exactly

[2019-09-25 08:46] sappelhoff commented on #153
with the MNE python 0.19 release out there now, this problem is now present in a standard installation :-)

Is there a workaround for now?

[2019-09-26 01:05] jasmainak commented on #153
I will take care of this first thing in the sprint next week. Sorry for the trouble.

[2019-10-01 19:55] jgeller112 commented on #153
Any update on when this will be fixed?

[2019-10-01 22:14] davestanley commented on #153
Got the same issue. I was able to fix it by commenting out all the `_layout_figure(params)` lines and removing the import. (At least, this did not break the plot_auto_repair.py demo)

[2019-10-02 18:50] jgeller112 commented on #153
@davestanley, Do you mind sharing your script? I cant get mine to work on my data.

[2019-10-03 15:24] davestanley commented on #153
@jgeller112 I have an updated version with the lines commented out in my fork here: https://github.com/davestanley/autoreject

The script I was using to test it is available here: https://autoreject.github.io/auto_examples/plot_auto_repair.html#sphx-glr-auto-examples-plot-auto-repair-py

[2019-10-06 06:23] #153 closed

[2019-10-06 14:06] jasmainak commented on #153
Please update to the development version of `autoreject`, it should be fixed now

[2019-10-19 01:01] jasmainak opened #156 "joblib deprecation warning"
If we import `autoreject` with latest scikit-learn, we get this warning:

[code]

@agramfort does that mean we have to add a dependency to `autoreject` now?

[2019-10-20 09:06] agramfort commented on #156
yes you need to add a dep on joblib

[2019-10-21 07:18] #156 closed

[2019-10-25 07:58] XiaTaopsycho opened #159 "Can not import autoreject"
Hi all,
      when I import autoreject, there is an error "ImportError: cannot import name '_layout_figure' from 'mne.viz.utils' (/home/xiatao/anaconda3/lib/python3.7/site-packages/mne/viz/utils.py)". Would you please tell me how to fix this problem? My mne version is 0.19.
      Thank you very much.

[2019-10-25 13:35] agramfort commented on #159
you need to wait for MNE 0.19.1 release. Hopefully @larsoner has time to do
it today.

[2019-10-25 16:49] agramfort commented on #159
in other words you can update mne with

pip install -U mne

and it should work

[2019-10-25 22:01] jasmainak commented on #133
closing this issue as nobody has hit it again and the code to reproduce is no longer available.

[2019-10-25 22:01] #133 closed

[2019-11-04 10:51] vferat commented on #159
They problem seems to be still here with autoreject 0.2 :
[code]
output:
[code]

[2019-11-04 21:39] jasmainak commented on #159
I'll make a new minor release of `autoreject` tomorrow. Please use the dev version of `autoreject` until then

[2019-11-07 03:00] jasmainak opened #160 "failing test on `master` of autoreject"
We get:

[code]
just a note for me to fix

[2019-11-07 03:19] jasmainak commented on #159
Okay I made a new release: https://pypi.org/project/autoreject/.

I think the problem should be fixed now :)

[2019-11-07 03:19] #159 closed

[2020-01-14 14:38] sappelhoff opened #162 "RejectLog.labels has dimensions different from how described in the docs"
The [docs](https://autoreject.github.io/generated/autoreject.RejectLog.html#autoreject.RejectLog) on RejectLog.labels say that:

However, running my own code and the examples I find that the shape is actually `n_epochs, n_channels`

You can replicate this by running the [auto repair example](https://autoreject.github.io/auto_examples/plot_auto_repair.html#sphx-glr-auto-examples-plot-auto-repair-py

[2020-01-17 11:11] jasmainak commented on #162
indeed you are right, do you want to make a PR to fix it?

[2020-02-04 15:39] jasmainak opened #163 "switch tests from nose to pytest"
see: https://twitter.com/tirkarthi/status/1219700384777695237

cc @sappelhoff

[2020-02-05 18:14] neerajww opened #164 "autoreject() usage and channel information"
autoreject() usage and channel information
The ar.fir_transform() gets hanged if the channel location has 'nans'. Example:
ar = AutoReject()
epochs_clean = ar.fit_transform(epochs)
Running autoreject on ch_type=eeg
0.00% Creating augmented epochs (struck here)

Expected results
Throwing an error and the reason will be better.

[2020-02-05 18:28] jasmainak commented on #164
Can you provide a reproducible script? This issue seems very similar to this one: https://github.com/autoreject/autoreject/issues/124#issue-401554096. Perhaps you can base it off that one?

Also -- can you confirm that you use the latest version of autoreject?

[2020-02-05 20:50] neerajww commented on #164
Here is the script to replicate the error. The Version is 0.3.dev0. The bug is SIMILAR but not SAME to the thread you have linked to.
`"""
A test script to test the channel location usage in autoreject
Version: 0.3.dev0
"""

import mne
import numpy as np
import autoreject
from functools import partial
from autoreject import AutoReject
import matplotlib.pyplot as plt

##############################

[2020-02-07 18:24] jasmainak commented on #164
I can confirm that I can reproduce your problem with MNE v0.18. Thanks a lot for the bug report

[2020-02-08 14:35] agramfort commented on #164
do you know what is the fix?

[2020-02-10 07:04] #160 closed

[2020-02-10 18:18] #163 closed

[2020-02-10 20:47] #162 closed

[2020-02-10 20:47] #164 closed

[2020-02-17 03:35] neerajww opened #169 "specifying channels to use in interpolation"
Is there a way to specify which channels to use in interpolation which using RANSAC. That is, in the below code is there a way to specify picks in ransac.fit_transform()? Currently, it uses all channels.
``
ransac = Ransac(verbose='progressbar', picks=picks, n_jobs=1, min_corr=0.75, random_state=435656)
epochs_ransac = ransac.fit_transform(epochs)
``

[2020-02-17 05:46] jasmainak commented on #169
what do you get when you do:

[code]
?

[2020-02-17 06:05] neerajww commented on #169
Let me more clear. With the above lines of code, the ransac() does searching of bad channels only in the subset specified in picks. But when it does the follow up interpolation to fix the data in the estimated bad channels, it uses all the channels of the epoch object. Is there a way to restrict the interpolation to use only specific channels.

[2020-02-17 06:24] jasmainak commented on #169
That seems like a bug. A PR to fix it would be welcome

[2020-02-21 14:10] sab-d opened #170 "Docs: Parameter 'reject' not supported for epochs in ica.fit()?"
Hi,

I was wondering if there's a mistake in the FAQ section of the documentation ("Should I apply ICA first or autoreject first?").
According to the MNE docs the `reject` parameter in `ica.fit()` only applies to an instance of Raw, not Epochs.
However, here `ica.fit()` is used with `reject` on epochs several times, e.g.:

[2020-02-21 16:44] jasmainak commented on #170
You are right, it looks like a typo and should be `raw` not `epochs` when you pass to `ica.fit`. Could you perhaps make a pull request to fix it?

[2020-02-25 15:59] sustianovich opened #171 "Number of splits greater than the number of samples"
I have run a test to try the Autoreject function. I have two issues.

1) When it gets to "autoreject.get_rejection_threshold" funtion it displays me the split-samples error.
Cannot have number of splits n_splits=5 greater than the number of samples: n_samples=2

2) I had to give random values not to have a NaN in epochs.info['chs] so as to run the code. In the  info = mne.create_info(ch_names, sfr

[2020-02-25 16:16] jasmainak commented on #171
You have only 3 events. Why do you want to use autoreject with only 3 trials in your data?

[2020-02-26 08:36] sustianovich commented on #171
The 3 event points are chosen randomly by me. I have also used a a random matrix for 'data' to understand and make calculations and debugger quicker.
Is it a problem of having few events? Please tell me if it does not make sense.
Ty!

[2020-02-26 17:44] jasmainak commented on #171
Yes 3 events is too few. You should have at least 20

[2020-02-27 08:59] sustianovich commented on #171
Ty, it worked!

[2020-02-27 08:59] #171 closed

[2020-03-22 00:57] zuxfoucault opened #172 "Question: Fit or transform autoreject of multiple event ids in one call"
I have a question regarding the usage, not sure if it is appropriate to post it here?

In this [example](https://699-59485140-gh.circle-artifacts.com/0/html/auto_examples/plot_auto_repair.html#sphx-glr-auto-examples-plot-auto-repair-py), autoreject fit and transform are applied to one event id in each function call. Is it appropriate to fit or transform to multiple event ids in one call. For examp

[2020-03-22 03:52] jasmainak commented on #172
It's the right place to ask!

I'd say it doesn't matter.

[2020-03-22 08:39] zuxfoucault commented on #172
thanks!

[2020-03-22 08:53] #172 closed

[2020-03-23 06:01] zuxfoucault commented on #170
For the same purpose from above, would it be legitimated to `epochs_clean = ar.transform(epochs)` then `ica.fit(epochs_clean)`? Thanks!

[2020-03-23 15:46] jasmainak commented on #170
you can try but I'm guessing autoreject would drop/interpolate many trials because of eye-blinks. The procedure we outline in the FAQ is to avoid that situation.

[2020-04-02 08:01] elvisjade opened #173 "bug "Unknown argument(s): {'spinner': True}""
when I try to use autoreject to Automatically repair epochs it will report a bug  "Unknown argument(s): {'spinner': True}"
my code is
ar = AutoReject(n_interpolates, consensus_percs, picks=picks,
                thresh_method='random_search', random_state=42)
the bug report is
Note that fitting and transforming can be done on different compatible
portions of data if needed.
ar.fit(epochs['Auditory

[2020-04-03 21:24] sustianovich commented on #173
It happens to me the same in the jupyterlab notebook for example with the rest of function as "ar.fit(epochs)".
I think it does it ok in Pycharm.

[2020-04-03 23:55] jasmainak commented on #173
I suspect it's related to the new MNE release and [this pull request](https://github.com/mne-tools/mne-python/pull/7155). I'll take a look next next week. Thanks for reporting.

[2020-04-04 01:49] elvisjade commented on #173
so I need to use pycharm or use the old version mne(like0.19)?

[2020-04-04 08:59] elvisjade commented on #173
I have tried to use pycharm to analyze this data. the function (Find global rejection threshold)is ok, but Automatically repair epochs still don't work.
the bug report is

Running autoreject on ch_type=grad
Traceback (most recent call last):
  File "/Users/ opt/anaconda3/envs/mne3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3319, in run_code
    exec(code_obj, self.user_glo

[2020-04-07 16:22] sappelhoff commented on #173
you need to use `mne==0.19` for now until the bug is fixed :-)

[2020-04-13 16:19] elvisjade opened #175 "Is there any tutorial on how to calculate n_interpolates or consensus_percs?"
In the tutorial:
Let us first define the parameters. n_interpolates are the 𝜌 values that we would like autoreject to try and consensus_percs are the 𝜅 values that autoreject will try (see the autoreject paper) for more information on these parameters).

Epochs with more than 𝜅∗𝑁 sensors (𝑁 total sensors) bad are dropped. For the rest of the epochs, the worst 𝜌 bad sensors (as determined by channe

[2020-04-14 03:11] elvisjade commented on #173
Is there any way to use autoreject in mne 0.20?
Because mne 0.19 has some bug , so I have to use mne 0.20.

Is this a bug or Is it my operation error?

I want to  read_custom_montage and follow the tutorial (https://mne.tools/stable/auto_tutorials/source-modeling/plot_eeg_mri_coords.html?highlight=read_custom_montage)

I use this code :
import mne
from mne.channels import compute_native_head_t, re

[2020-04-14 03:18] jasmainak commented on #173
@sappelhoff @agramfort or @dengemann can you please help? I opened a PR but it doesn't look like I'll be able to finish it at least for the coming week. I can't promise beers nowadays but I'll make a PR in exchange some day ... :)

[2020-04-14 08:06] agramfort commented on #173
@elvisjade you can now user mne stable 0.20 and autoreject master thanks to https://github.com/autoreject/autoreject/pull/176

[2020-04-14 08:06] #173 closed

[2020-04-14 08:18] elvisjade commented on #173
Thank you very much！！！

[2020-04-15 21:27] jasmainak commented on #175
hi @elvisjade the `consensus_perc` can never be greater than 1. or smaller than 0., so we try 11 values from 0 to 1.0. You could try a denser grid but it would take longer.

As for `n_interpolates` it's the same logic. Note that this parameter is a bit more nuanced. If `n_interpolate` is 32, it does not mean you interpolate 32 channels. In fact, it simply means that 32 is the maximum number of cha

[2020-04-16 01:39] elvisjade commented on #175
Okay, thank you for your reply! I understand a little.

But I still have some questions, such as what does this value 4 in n_interpolates = np.array ([1, 4, 32]) represent?
In addition, if I have 128 channels, and then I choose 32, it is similar to ica. Will the most serious 32 be selected for repair? Or is it randomly selected 32? I see in the paper that it means the most serious Of 32?

The set

[2020-04-16 02:16] jasmainak commented on #175
yes exactly

it means you select the best K among the values 0, 0.1, 0.2, ..., 1.0 based on your data.

[2020-04-16 02:23] elvisjade commented on #175
and  What does the function of consults_perc mean?

![image](https://user-images.githubusercontent.com/12797356/79407663-1d4f1780-7fcc-11ea-9ed7-d30eee52a841.png)

Does this variable refer to the threshold of the data? If the smaller, the more strict the data, the more epochs repaired?

[2020-04-16 22:55] jasmainak commented on #175
no, consensus_perc is the κ

[2020-04-23 01:59] elvisjade commented on #175
![image](https://user-images.githubusercontent.com/12797356/80050613-b5a74800-8548-11ea-9af0-22b3de9cb56b.png)

consensus_percs = np.linspace (0, 1.0, 11)
If this is K, then it seems to be the opposite of the threshold?
Does it mean that the closer k is to 0, the stricter the threshold? I tried 1, 0.8, 0.5 myself, it seems that the number of deleted epochs will gradually increase. I want to ask ho

[2020-04-23 14:12] elvisjade commented on #175
I reread this paper about auto-reject and discussed it with my classmates.
We are now about
n_interpolates = np.array ([1, 4, 32])
consensus_percs = np.linspace (0, 1.0, 11)
The n_interpolates parameter seems to be more about patching channels.
32 represents the maximum number of channels that can be patched.
1,4 represents the worst repaired 1 or the worst repaired 1-n (such as the 4th)

The cons

[2020-04-25 22:36] jasmainak commented on #175
hi @elvisjade I feel you are mixing up many concepts here.

I don't follow this part. When you say "threshold", it's not clear what you refer to.

you are looking at the wrong part of the paper. This is kappa, not K -- look at equation (6).

In any case, I'm afraid I can't help further. The purpose here for us is to help users use the software and to answer any data-related questions. This is a bi

[2020-04-25 22:37] #175 closed

[2020-04-26 03:10] elvisjade commented on #175
Okay, I am very grateful for your reply and your help during this time. You really helped me a lot.

I'm sorry to ask you some other questions. There may be some questions that have nothing to do with the use of this package because I did not understand some parameters.

I will continue to look at this paper and then understand it further.

Thank you very much!

[2020-05-05 15:05] thht opened #178 "get_rejection_threshold stops optimizing threshold as soon as one threshold leads to rejection of all channels in at least one fold"
hi,
i dug a bit into the global threshold finding function `get_rejection_threshold`. i do not know whether this is actually the desired behavior or constitutes an issue. but it looks strange enough for me to point it out:

1. if the current rejection threshold leads to all channels being rejected, line 172 in `autoreject.py` will return `nan`
  `self.mean_ = _slicemean(X, keep, axis=0)`
2. if thi

[2020-05-05 15:43] jasmainak commented on #178
humm interesting, that sounds like a bug to me. I think I verified before merging the [pull request to speed up using bayesian optimization](https://github.com/autoreject/autoreject/pull/77) that it gave the same result as a grid search.

do you have a suggested fix for this?

[2020-05-06 07:54] thht commented on #178
well, i have no idea what the intended behavior in this case would be. would the score still be valid if X out of N would be `-Inf`? What would X and N be?

If the score (and thus the `new_x` chosen in `bayes_opt`) is deemed to be invalid, how can we tell the algorithm to choose some different `new_x` to try?

[2020-05-07 18:52] jasmainak commented on #178
ummm ... I think the simplest might be to leave out X which give `-Inf` for any fold since they correspond to a very low threshold (= rejecting too many trials). This should be done before starting the optimization. @agramfort do you have an opinion here?

[2020-05-07 19:28] agramfort commented on #178
yes we could give bounds in optim grid to avoid this case before staring
the opt.

[2020-05-25 10:00] Ann-KathrinKiessner opened #179 "error:Valid channel positions are neededfor autoreject to work"
hi,

i‘ve been trying to use autoreject to clean up the raw data taken from the TUH Abnormal EEG Corpus (https://www.isip.piconepress.com/projects/tuh_eeg/html/downloads.shtml). I‘ve loaded the raw data and epoched it using mne.

ar = AutoReject()
epochs_clean = ar.fit_transform(epochs)
Now, I want to use autorejct on those eopchs, but doing so, I get the following error Valid channel positions ar

[2020-05-25 10:03] agramfort commented on #179
did you set the channel locations using make_standard_montage and
set_montage  ?

I don't see where locations are used in this code.

it's because it can deal with more complex channels eg MEG coils. For EEG
only the first 3 numbers are used.

[2020-05-25 10:22] AK-16 commented on #179
I've tried to set the the channel locations using make_standard_montage and
set_montage

but I only get the following error:ValueError: DigMontage is a only a subset of info. There are 30 channel positions not present in the DigMontage. The required channels are: ['EEG FP1-REF', 'EEG FP2-REF', 'EEG F3-REF', 'EEG F4-REF', 'EEG C3-REF', 'EEG C4-REF', 'EEG P3-REF', 'EEG P4-REF', 'EEG O1-REF', 'EEG O2

[2020-05-25 10:25] agramfort commented on #179
you cannot expect autoreject to clean EEG data without channel locations.

you have to ignore/drop the channels for which you have no location.

[2020-06-03 11:06] SebastianSpeer opened #180 "Great variance in number of dropped epochs"
Dear Autoreject Team,

I am currently preprocessing some data from a Stroop task and have noticed that when running autoreject on the same subject several times the number of bad epochs varies considerably from 11 bad epochs dropped up to 38 bad epochs dropped (out of 72 epochs in total). Do you have some suggestions as to where this variance is combing from and ss there a way to reduce this varia

[2020-06-03 11:09] dengemann commented on #180
Hi! It sounds like a random seed is not set. Which is surprising and points potentially at a bug. Can you provide a minimum reproducible example with toy data ?

[2020-06-03 11:27] SebastianSpeer commented on #180
[Test-AR.zip](https://github.com/autoreject/autoreject/files/4722860/Test-AR.zip)

[code]

[2020-06-04 03:50] jasmainak commented on #180
can you provide a full script which we can run by copy-pasting?

and also two seeds -- one where few epochs are dropped and one where too many epochs are dropped. Thanks.

[2020-06-04 10:29] SebastianSpeer commented on #180
[code]

[2020-06-04 10:35] SebastianSpeer commented on #180
turns out I can't upload the raw bdf which I'm loading in the script here because it's too big. But you can just use the file from my previous comment which corresponds to the data after epoching in the second script. Or I can send the file in another way

[2020-06-29 13:37] eioe commented on #180
Hi,
I'd like to second @SebastianSpeer 's question.
I observe a similar behavior of AR in my current data set - with different seeds producing substantial differences in the number of rejected epochs. In my case it's 720 epochs per subject and if I remember correctly, for some of them the results varied between ~30 up to ~120 rejected epochs by AR when re-running with a different seed (I haven't s

[2020-06-30 03:36] jasmainak commented on #180
hi @eioe and @SebastianSpeer

I'm sorry I haven't gotten around to this yet. I'll have to sit down with @dengemann or @agramfort and investigate. I doubt it is a bug though. I think it arises from the rho and kappa parameters, what we call `consensus_perc` and `n_interpolate`. If you have a grid of `n_interpolate` values that is a bit too sparse, e.g., `[1, 2, 4, 32]` you might end up changing the

[2020-07-15 13:16] sappelhoff commented on #99
Just a note that in MNE 0.21, there will be a new function to detect EMG artifacts: https://mne.tools/dev/generated/mne.preprocessing.annotate_muscle_zscore.html?highlight=annotate#mne.preprocessing.annotate_muscle_zscore

[2020-08-15 03:00] guishuyunye-lyw opened #182 "TqdmKeyError: "Unknown argument(s): {'spinner': True}""
I got this error again with  the MNE 0.20.7

[2020-08-15 03:13] jasmainak commented on #182
are you using the development version of autoreject? If not, can you try with that?

[2020-08-16 13:45] guishuyunye-lyw commented on #182
I tried, it works now, thx so much!

[2020-08-16 14:29] jasmainak commented on #182
okay we'll need to make a release soon ...

[2020-08-16 14:29] #182 closed

[2020-08-16 15:14] guishuyunye-lyw opened #183 "how to decide which k is most suitable?"
I have read both the codes document and the paper, I know the meaning of default parameter, np.linspace(0, 1.0, 11) in  the function. But I am still confused about how to decide which k is the best. Is that right I consider that I have to discard as many trials as possible, which means I have to choose the smallest k on the assumption that I have enough trials for further analysis?

[2020-08-17 01:44] guishuyunye-lyw commented on #16
how to plot epochs like this!

[2020-08-17 01:55] jasmainak commented on #16
yes I would say so. Take a [look at this comment](https://github.com/autoreject/autoreject/issues/16#issuecomment-263053526). The method is a bit sensitive to how deep the cross-validation minima is. Your data looks pretty clean, that's why autoreject finds it difficult to know what is "bad" data. Note that in both runs no epochs are rejected.

[2020-08-17 02:31] guishuyunye-lyw opened #184 "epochs plot"
![image](https://user-images.githubusercontent.com/20347818/90351927-51b70b00-e074-11ea-85e5-5d5609ba5774.png)
How could I plot epochs like this. Everytime I want to check the epochs rejected, they were just disappeared.

[2020-08-17 03:35] jasmainak commented on #184
what do you mean disappear? How do you plot them? Are you using ipython?

[2020-08-17 10:29] guishuyunye-lyw commented on #184
yes, plot with epochs.plot()

[2020-08-17 12:49] #184 closed

[2020-08-17 12:50] guishuyunye-lyw commented on #184
I thought this is the solution: http://autoreject.github.io/auto_examples/plot_visualize_bad_epochs.html#sphx-glr-auto-examples-plot-visualize-bad-epochs-py

[2020-08-18 02:43] guishuyunye-lyw commented on #180
hi @jasmainak ,What's the fixed value you recommend. I found you set the consensus_perc = 0.6, which means only a majority of channel marked as bad, the trial will be drop.     Is it too high?

[2020-08-18 02:52] guishuyunye-lyw commented on #180
To ignore bad segments using autoreject (local), we could do:

hi @SebastianSpeer @jasmainak , what do you think about the process, which combine the autoreject  and ICA together.  I got some confusion about it, after ica.fit(), ica.apply,should I run fit_transform() again?

[2020-08-18 02:57] guishuyunye-lyw opened #185 "Some question about combining autoreject(local) with ICA."
Dear autoreject team

When I try to mimic the process provided on autoreject's FQA page, I got a question about the topic "Should I apply ICA first or autoreject first?"

To ignore bad segments using autoreject (local), we could do:

hi @SebastianSpeer @jasmainak @agramfort , after ica.fit(), ica.apply(),should I run fit_transform() again or just used what fited before? Could you guys give us an c

[2020-08-18 04:04] jasmainak commented on #180
It sounds like a reasonable number. Do make sure to check your data visually afterwards

[2020-08-18 07:27] agramfort commented on #185
did you look at:
https://autoreject.github.io/faq.html#should-i-apply-ica-first-or-autoreject-first
 ?

[2020-08-18 20:56] jasmainak commented on #184
okay great you managed to find the solution!

[2020-08-19 11:04] guishuyunye-lyw commented on #180
I thought 0.6 is a littler higher. Is there any recommended criteria?

[2020-08-19 11:07] guishuyunye-lyw commented on #185
Thx, I read it before. So I should do twice autorejects, before and after ICA process, then the parameters should be set the same?

[2020-08-19 15:12] jasmainak commented on #180
I would look at the data.

[2020-08-19 15:17] jasmainak commented on #183
you ideally want to let autoreject select the best parameter for you. Manually set it only if you disagree with autoreject does

[2020-08-21 12:21] balandongiv opened #186 "Getting Error: "numpy.linalg.LinAlgError: SVD did not converge in Linear Least Squares""
Upon applying `fit_transform`, the compiler return an error

May I know what is the possible cause of this error?

The full code to reproduce the above error is as below

[code]

Additional information

    System:

Windows 10
anaconda3
mne-0.21.dev0
Python 3.7
[Link to download S17_3.mff ](https://drive.google.com/drive/folders/14R_2A-ceqOFvRkDZH6Skm4CqF5B-K7Co?usp=sharing)

[2020-08-22 02:08] yh-luo opened #187 "IndexError was raised when running Autoreject.fit()"
I followed the suggestion in FAQ

When fitting `Autoreject` on ICA cleaned epochs, the error occurred:
[code]
The data were Maxwell-filtered if that is related. Any suggestions would be appreciated.

[2020-08-24 02:16] balandongiv commented on #186
Upgrade `scipy` from `1.5.1` to `1.5.2` does not resolve the issue in Windows environment

[2020-08-24 03:55] jasmainak commented on #186
try setting the number of threads in MKL to 1? you'll have to search around a bit. I doubt this is an autoreject issue.

[2020-08-24 06:39] balandongiv commented on #186
Yes, I concur this is not an autoreject issue.

[2020-08-24 06:39] #186 closed

[2020-08-25 06:21] yh-luo commented on #187
Hi @jasmainak , thanks for the quick reply!
Yes, the epochs were created with `mne.pick_types(raw.info, meg=True, eog=True, ecg=True, stim=True)`. But `picks = mne.pick_types(epochs.info, meg=True, exclude=[])` were passed in `AutoReject(picks=picks)` before fitting.

#### Detailed codes
[code]
#### Epochs.info
Identifiable information was removed
[code]

[2020-08-25 07:30] balandongiv commented on #170
It seems the typo in the FAQ has not been fixed. Should I PR for this issue? @jasmainak ?

[2020-08-25 07:53] yh-luo commented on #187
After some tests, it seemed to me that `picks` in `AutoReject` does not work properly (?)
When epochs were created after the ICA was applied to `Raw` with `picks = pick_type(raw.info, meg=True, exclude=[])`, `AutoReject.fit(picks=picks)` works.
Or does `AutoReject` work this way by design?
[code]

[2020-08-26 21:26] jasmainak commented on #187
humm ... that's really weird

what is different in your code snippet compared to [this example](http://autoreject.github.io/auto_examples/plot_visualize_bad_epochs.html#sphx-glr-auto-examples-plot-visualize-bad-epochs-py)

I think it should not matter whether you apply ICA or not. In the first case, you pass a different `picks` to the Epochs constructor than in the second case.

[2020-08-26 21:29] jasmainak commented on #170
@balandongiv if you have the time to actually update an example with the proposed workflow, that would be really great!

you can take this one for instance: http://autoreject.github.io/auto_examples/plot_visualize_bad_epochs.html#sphx-glr-auto-examples-plot-visualize-bad-epochs-py

and add ICA processing to it. Do you want to give it a shot?

[2020-08-27 01:43] yh-luo commented on #187
I tested with different picks and found the weird error.
When `picks` in `Epochs` includes both `eog` and `ecg`, the error occurs.
Strangely, I can't replicate this on the `sample` dataset...

In all the testings, `picks = mne.pick_types(epochs.info, meg=True, exclude=[])` was always passed in `fit()`
##### Work
- epochs with `meg`
- epochs with `meg` and `stim`
- epochs with `meg` and `eog`
- epo

[2020-08-27 01:43] #187 closed

[2020-08-27 01:51] jasmainak commented on #187
That's super strange. One last thing you might want to check is that all the `picks` is actually working correctly. Sometimes if you don't set the channel type for a particular channel (e.g., EOG channel sometimes needs to be set manually to be of type `eog`), you may have that issue. Anyhow, glad you found a solution for now :)

[2020-08-27 02:08] balandongiv commented on #170
@jasmainak . Yes, I am more than happy to contribute.

[2020-08-27 03:29] jasmainak commented on #170
Fantastic, looking forward to your PR

On Wed, Aug 26, 2020 at 10:08 PM balandong <notifications@github.com> wrote:

[2020-09-28 14:43] AleKrugliak commented on #180
Hello Autoreject Team,

I am new to Python and EEG analysis. I am struggling with the same issue of great variance of dropped epochs. The ideas for potential solutions mentioned above are not very clear to me. Would you mind giving step for step instructions how I can circumvent the issue?

Many thanks in advance!

Best wishes,
Ale

[2020-09-29 02:48] jasmainak commented on #180
I'm sorry I haven't found time to get around to this issue.

Simple solution for now is fix the seed and inspect what autoreject gives you

[2020-10-21 01:36] aetherqi opened #188 "transform() throws TqdmKeyError: "Unknown argument(s): {'spinner': True}""
Hi autoreject Team,

The examples that require ar.transform() or fit_transform() fail for me in both python and jupyter with a tqdm error.

e.g. the "Automatically repair epochs" example plot_auto_repair.ipynb fails at:

[code]

with

`TqdmKeyError: "Unknown argument(s): {'spinner': True}"` .

I'm running Python 3.7
autoreject==0.2.1
mne==0.21.0
notebook==6.1.4
tqdm==4.50.2
numpy==1.18.4
matplotli

[2020-10-21 01:37] jasmainak commented on #188
Can you try with the development version of autoreject if it helps?

[2020-10-21 02:24] aetherqi commented on #188
Thanks @jasmainak it's working at 67dd5a4

[2020-10-21 02:25] #188 closed

[2020-10-26 15:58] AdrienC21 opened #189 "Issue with the function ProgressBar when using AutoReject"
Dear AutoReject team,

When I try to use your library, I encounter en error due to the file \autoreject\utils.py, at the line 183 :
_pbar = ProgressBar(iterable, mesg=desc, spinner=True)_

Apparently, the argument _spinner_ is no longer used when calling the function ProgressBar. After deleting it, I can clean my epochs. Therefore, I humbly suggest you to replace this line with :
_pbar = ProgressB

[2020-10-26 20:22] agramfort commented on #189
what autoreject version are you using?

this *spinner=True is gone in current master apparently*

[2020-10-26 21:03] AdrienC21 commented on #189
I use the version 0.2.1 of autoreject
MNE version : 0.21.0
Python version : 3.7.7

The complete error is :

[code]

I tried uninstalling and installing autoreject. Still find the same issue. The problem might occur when using PIP to install the package.

[2020-10-26 21:07] agramfort commented on #189
can you try:

pip install -U https://api.github.com/repos/autoreject/autoreject/zipball/master

[2020-10-27 23:25] AdrienC21 commented on #189
It works !

I value the help you've given me, thank you very much :)

[2020-10-28 00:19] #189 closed

[2020-11-19 00:13] FilmonM opened #190 "TqdmKeyError: "Unknown argument(s): {'spinner': True}""
Hi everyone!
I found this package and really want to use it on EEG data but when I try to fit the autoreject function on my epochs, I get the following error:

TqdmKeyError: "Unknown argument(s): {'spinner': True}"

Now, I'm not quite sure if the problem is from my EEG data or something else? I will attach a code example on this comment.

I would appreciate every input :)
![Pic1](https://user-imag

[2020-11-19 02:15] jasmainak commented on #190
Can you try using the development version:

[code]

[2020-12-10 03:17] jmurphy88 commented on #190
same issue for me. Tried Dev version, no difference

[2020-12-10 04:50] jasmainak commented on #190
What version of MNE are you using? It works for me ...

[2020-12-11 08:34] agerhardsson commented on #190
I get the same issue when running the example from the autoreject site. Running latest MNE 21.2. I get another issue when trying on my own data but will post that in a dedicated issue.

[2020-12-11 08:50] agramfort commented on #190
what tqdm version are you using?

[2020-12-11 08:57] agerhardsson opened #191 "index 308 is out of bounds for axis 0 with size 306"
Trying to fit autocorrect accordingly:

picks = mne.pick_types(epochs.info, meg='grad',  exclude=[])
ar = auto.AutoReject(picks)

epoch.info show the following channels,
chs : list | 354 items (EOG: 2, ECG: 1, IAS: 11, MAG: 102, GRAD: 204, MISC: 6, STIM: 18, SYST: 1, CHPI: 9)

and picks:
array([ 15,  16,  18,  19,  21,  22,  24,  25,  27,  28,  30,  31,  33,
        34,  36,  37,  39,  40,  42,  4

[2020-12-11 09:05] agramfort commented on #191
make sure the picks only contain the MEG channels

[2020-12-11 10:54] agerhardsson commented on #190
I appreciate the quick reply! First, tqdm 4.41.1 then I updated to latest version 4.54.1, still same issue.

[2020-12-11 11:30] agerhardsson commented on #190
It worked after setting verbose=False in AutoReject()

[2020-12-11 11:37] agerhardsson commented on #191
They do. If not I would get another error message "AutoReject only supports mag, grad, and eeg at this point."

I don't know if it is the order of the channels, starting with EOG: 2, ECG: 1, IAS: 11?

So it seems as though pick_types selects the correct channels according to the epochs.info, but the AutoReject only accepts the order of the channels starting with MEG?

[2020-12-11 14:00] agramfort commented on #191
can you share a dropbox folder with data and a script to replicate?

[2020-12-11 16:46] hubertjb opened #192 "Pickling AutoReject objects and parallelizing with joblib fails"
I was trying to parallelize the application of an `AutoReject` object using joblib. I noticed both `Parallel` and pickling functions fail, due to missing attributes. Here's a snippet to reproduce the error:

[code]

The traceback I get with this snippet:

[code]

I've narrowed it down to this line in the definition of `AutoReject`: https://github.com/autoreject/autoreject/blob/master/autoreject/au

[2020-12-11 19:15] jasmainak commented on #192
If you can propose a fix with a test, that would be more than welcome!

[2020-12-11 20:05] jmurphy88 commented on #190
Latest. Didn't update, but it has now started working for me, and I don't know why!

[2020-12-11 20:50] hubertjb commented on #192
Hi @jasmainak, perfect, I'll take a shot at it. A quick question before: I realized the if condition [here](https://github.com/autoreject/autoreject/blob/master/autoreject/autoreject.py#L935) is there so that when using the `save()` method followed by `read_auto_reject` the object can first be instantiated with the right init attributes, and then its state can be set with `__setstate__`. Would it

[2020-12-12 01:31] jasmainak commented on #192
Give it a try. It sounds like a reasonable approach. If the tests fail, we'll know something is wrong :)

[2020-12-12 04:13] jasmainak commented on #191
you might also want to read this related issue: https://github.com/autoreject/autoreject/issues/187. I'm not exactly sure how the user fixed it but you might get some inspiration

[2020-12-12 08:53] agramfort commented on #192
I am also curious why we need to do this in the first place.

can you also try to remove the __setstate__ etc. methods to see where it
fails?

[2020-12-12 14:23] hubertjb commented on #192
It looks like we need `__setstate__` and `__getstate__` methods (or something similar) for two reasons: (1) they are necessary if we want the `save` method to write to a dictionary in an h5 file, and (2) they take care of the instantiation of `_AutoReject` objects for each channel type in a nested dictionary structure.

Concerning (1), I guess `__getstate__` and `__setstate__` could be replaced by

[2020-12-12 14:59] jasmainak commented on #192
I think the idea was that you could save with pickle or hdf5 as you like and they would give you identical results. Not sure if we ever tested that though

[2020-12-12 15:41] agramfort commented on #192
Whatever works

[2020-12-14 12:06] agerhardsson commented on #191
issue: #187 seems to have been the same, although I'm not sure if I could resolve it.

I tried to use pick only meg channels when creating the Epochs, and the initial error does not appear. However, the fit has been running for hours without apparent progress. Is this normal?

I resampled a 10 min snippet of data for testing:
https://stockholmuniversity.box.com/s/j47s66livxqpno5x619w4y8im2jfchw1

[2020-12-14 17:58] agramfort commented on #191
I am running your example on my machine and it runs fine for me.... can you
say what "mne.sys_info()" gives?

In [1]: %run test_autoreject.py
579 events found
Event IDs: [   1   85   86   89   90  101  102  105  106  149  150  153
 154  165
  166  169  170  256  257  357  512 4373 4374 4377 4378 4645 4646 4649
 4650 8486 8489]
Creating augmented epochs:
100%|███████████████████████████████████████

[2020-12-15 11:49] agerhardsson commented on #191
Running from different Platforms but this is after reinstalling a conda mne environment:

Platform:      macOS-10.15.7-x86_64-i386-64bit
Python:        3.8.6 | packaged by conda-forge | (default, Nov 27 2020, 19:17:44)  [Clang 11.0.0 ]
Executable:    /Users/ange3856/miniconda3/envs/mne/bin/python
CPU:           i386: 4 cores
Memory:        16.0 GB

mne:           0.21.2
numpy:         1.19.4 {blas

[2020-12-15 11:54] agerhardsson commented on #190
Which tqdm version are you using? Still getting the same error.

[2020-12-15 12:06] agramfort commented on #191
are you saying it works now with different platform?

[2020-12-15 13:56] agerhardsson commented on #191
Still running, so too soon to tell.

[2020-12-15 14:40] agerhardsson commented on #190
Problem seems to occur when verbose='progressbar' which I guess is default. Setting to verbose='tqdm' no works for me.

[2020-12-15 15:42] nithyar89 opened #195 "Cannot import autoreject"
I use Python 3.7.4, MNE 0.21.0, and installed autoreject 0.2.1 https://pypi.org/project/autoreject/
ImportError: cannot import name '_layout_figure' from 'mne.viz.utils' (/usr/bin/anaconda2/lib/python3.7/site-packages/mne/viz/utils.py)

Looks like this is specific to my user environment in the server.

/usr/bin/anaconda2/lib/python3.7/site-packages/sklearn/externals/joblib/__init__.py:15: Deprecat

[2020-12-15 17:27] jasmainak commented on #195
Can you try to install the latest development version of autoreject to see if it works?

[code]

[2020-12-15 18:05] agerhardsson commented on #191
The script runs. But I have to define the picks when creating the epochs, not in AutoReject(). I also have to specify verbose='tqdm') to track progress, as the default 'progressbar' does not work.

auto.AutoReject(verbose='tqdm') worked!

auto.AutoReject(picks=picks, verbose='tqdm'), produce the index error!

auto.AutoReject(picks, verbose='tqdm') was obviously wrong as I had picks defining the n_

[2020-12-15 18:13] #191 closed

[2020-12-15 19:58] jasmainak commented on #190
how can I reproduce? can you tell me your:

- MNE version
- autoreject version
- tqdm version

?

[2020-12-16 07:59] agerhardsson commented on #190
Tried using the autoreject example script and data.
MNE 0.21.2
autoreject 0.2.1
tqdm 4.54.1 (also tried 4.39.0 with same result)

[2020-12-16 14:51] jasmainak commented on #190
But you did not try the development version as [I recommended above](https://github.com/autoreject/autoreject/issues/190#issuecomment-730080660) ? Please let me know if it fixes it. We will make a release soon so if it works then we're good.

[2020-12-16 16:29] agerhardsson commented on #190
Updating to dev-version did the trick!

[2020-12-23 04:38] jasmainak commented on #192
closed by #193

[2020-12-23 04:38] #192 closed

[2020-12-23 05:54] jasmainak commented on #190
I just minted a new release. This issue should be gone now

[2020-12-23 05:54] #190 closed

[2020-12-23 05:59] jasmainak commented on #195
was the problem solved?

[2021-01-20 16:58] msseibel opened #196 "Set KFold(..., shuffle=True) in get_rejection_threshold"
When using the global rejection function I found that always the same splitting is used.

I suppose it should not be:
https://github.com/autoreject/autoreject/blob/dd0942438440070876e8ea4796b83ffdd4981600/autoreject/autoreject.py#L219

but rather:
`cv = KFold(n_splits=cv, random_state=random_state,shuffle=True)`
or
`cv = KFold(n_splits=cv, random_state=random_state,shuffle=shuffle)`
and shuffle ca

[2021-01-21 03:52] jasmainak commented on #196
can you explain why shuffling is necessary? I don't quite follow ...

[2021-01-21 10:24] msseibel commented on #196
I am using the method for continuous resting state MEG data. So I needed to chunk the continuous data into epochs. I decided to use a duration of 1 sec with an overlap of 0.5 sec. Now it comes that consecutive epochs contain similar peak to peak values. (I suppose the trials are temporally correlated, especially the artifacts in my signals are sometimes longer than a few seconds).
Maybe this examp

[2021-01-21 13:20] jasmainak commented on #196
okay I see, your use case seems like a special case. I think ideally we want to allow the user to pass a `cv` instance. Something like:

[code]

and then make `cv=None` the default in the function. How good are your github skills? Do you want to try making a pull request with the bugfix?

[2021-01-21 13:33] msseibel commented on #196
Would be my first pull request. But I guess this is a good time to learn it.

[2021-01-21 13:37] jasmainak commented on #196
looking forward to it!

[2021-01-22 16:38] #196 closed

[2021-02-10 13:29] AlexLepauvre opened #198 "Use of autoreject for ECoG and SEEG data"
Hello everyone,

I am working on a project collecting a rather large amount of ECoG and SEEG data and would therefore be highly interested in using your method to detect and remove artifacts from the data. So far, we have been relying on computations of mean and standard error within channels, removing trials exceeding 4 times the standard deviation. The code is however always custom made and does

[2021-02-10 14:33] jasmainak commented on #198
I have this on my agenda too, great minds think alike ;-) I think this would be great to have. I have some private code and we can exchange ideas.

Sorry cannot give a detailed response right now due to a deadline, but how about we touch base next week? Feel free to ping me here and/or we can email or video chat.

[2021-02-14 03:51] jasmainak commented on #198
correct, but you do need a mix of good and bad epochs. From my limited experience with sEEG, this probably shouldn't be a problem

questionable claim and depends how you define noise :)

note k should be in fraction I believe. I think for intracranial you need to set some kind of a threshold for the number of trials. If there are less than x trials left, then discard the entire channel as bad. I'm

[2021-03-04 19:21] nebraswarsi opened #199 "Detection of "Spikes" in sEEG Data"
Good afternoon,

First off, just a quick word of thanks for writing such a robust package.

Similar to the previous post, I have been using autoreject with sEEG data in epilepsy patients at our institution. I wondered, perhaps on a theoretical level, if the channel-level threshold that is set would automatically label and reject inter-ictal spikes? I've been trying to think of a good method to lab

[2021-03-05 03:21] jasmainak commented on #199
Hi Nebras -- autoreject is unsupervised, so there are no guarantees of course. I am guessing that it will remove only larger artifacts such as movement and blinks. Note that unlike in EEG/MEG, we don't have the "augmented trials" (see paper) because one can't interpolate, so I think some good-ish trials might be marked as bad but that's just false positives ... the algorithm is not designed for th

[2021-03-05 03:22] jasmainak commented on #195
closing due to no response from OP

[2021-03-05 03:22] #195 closed

[2021-03-09 11:57] BaggioMarco opened #200 "Issue import Autoreject"
Hi,
on python: 3.9, running the line:
`from autoreject import get_rejection_threshold`
generates:
[code]

I tried also to update to the development version but same problem happens. It was not happening in python 3.7.
Could you help?
PS: I've a couple of questions about the usage of autoreject, where could I ask you them? Thank you

[2021-03-09 12:05] BaggioMarco commented on #200
I'm sorry, my fault, I was missing scikit-learn. Now it works, Thank you

[2021-03-09 12:19] #200 closed

[2021-03-09 12:47] jasmainak commented on #200
You can ask your questions here if you want

[2021-03-19 11:30] sappelhoff opened #201 "Example downloads massive amount of data: Needs rework"
See:

https://github.com/autoreject/autoreject/blob/abddce733539e6c53c71e84e7bcbfa6e214281dc/examples/plot_visualize_bad_epochs.py#L26-L42

and as @agramfort says in https://github.com/autoreject/autoreject/pull/194#issuecomment-802301434:

Perhaps using https://github.com/hoechenberger/openneuro-py (adding it as an optional dependency for docs)

[2021-03-19 11:36] #179 closed

[2021-03-19 20:17] hoechenberger commented on #201
Sounds good, ping me please if you don't hear back from me ;)

[2021-03-26 11:22] sappelhoff commented on #201
closed by https://github.com/autoreject/autoreject/pull/202

[2021-03-26 11:22] #201 closed

[2021-04-23 16:00] jasmainak opened #204 "more visualization options"
I see more and more that folks are just looking at the numbers `autoreject` throws out without looking at their data. I think we should emphasize this a bit and add some examples to show that. Here is a code snippet that could be added:

[code]

Unfortunately, the sample data does not have any bad epochs. So we might have to use another dataset. Now that we have a dependency on `openneuro-py` for

[2021-04-23 16:07] alexrockhill commented on #204
The openneuro dataset @apoorva6262 was working with https://openneuro.org/datasets/ds002778 might be a good one to add, the eeg files are fairly small and I'm sure at least one subject has lots of artifact contamination.

@apoorva6262 do you know which subject has a lot of artifacts? I can do this and you can review or if you want to take a shot you could try instead.

[2021-04-23 21:33] jasmainak commented on #204
Yes, +1 on using `ds002778` from my end. Even using the script that @apoorva6262 shared would be a good start

[2021-04-24 22:42] apoorva6262 commented on #204
@alexrockhill , probably pd14. I think that one would be nice to show with (and without) ICA and Autoreject.

[2021-04-26 06:54] hoechenberger opened #206 "Now available from conda-forge"
Hello, I've packages `autoreject` for `conda-forge`:
https://github.com/conda-forge/autoreject-feedstock

A bot will automatically discover new releases on PyPI and update the package accordingly.

I wonder if we should include this in the installation instructions?

[2021-04-26 19:39] jasmainak commented on #206
Sure, why not?!

[2021-05-04 06:14] adswa opened #210 "Can't set a random_state in get_rejection_threshold"
Hi, thanks for maintaining this package.
Parametrizing ``get_rejection_threshold`` with the ``random_state`` parameter results in an internal error of sklearn. Here is a reproducer:

[code]

With ``autoreject=0.2.2`` and ``scikit-learn==0.24.1``, this results in

[code]

As far as I can see, there is no way to pass ``shuffle=True`` via ``get_rejection_threshold``.

[2021-05-04 09:08] agramfort commented on #210
you need to set your own cv object to be able to do this I think.

[2021-05-04 09:29] adswa commented on #210
Is this what #197 brings into the next release?

[2021-05-04 09:32] agramfort commented on #210
exactly. You can now pass your own cv parameter

such as

cv=KFold(n_splits=5, shuffle=True, random_state=42)

in the function call

[2021-05-04 09:35] adswa commented on #210
cool, thanks!

[2021-05-04 09:35] #210 closed

[2021-05-04 14:04] adswa opened #211 "_setup_dots() missing 1 required positional argument: 'ch_type' when trying to return the reject_log"
Apologies if I do something obvious wrong - I'm trying to get the reject log from ``fit_transform`` (following https://autoreject.github.io/auto_examples/plot_visualize_bad_epochs.html#sphx-glr-auto-examples-plot-visualize-bad-epochs-py), but fail to:

Traceback from my real data:
[code]

How I fail with mne sample data:

[code]

What am I missing here/doing wrong?

[2021-05-04 14:05] jasmainak commented on #211
Probably something changed in the MNE internals and autoreject didn't keep up ... :(

[2021-05-04 14:11] adswa commented on #211
ahh right, and I'm on today's master of ``mne``...

[2021-05-04 14:16] jasmainak commented on #211
Do you want to attempt a PR? I think `_setup_dots` is missing an argument that was recently added. Hopefully, it's something straightforward ...

[2021-05-04 14:18] adswa commented on #211
I will try. I assume the change came with this monster commit: https://github.com/mne-tools/mne-python/commit/f1e6097c36e7232514d67d4b04af568e36ac5758#

[2021-05-04 14:18] jasmainak commented on #211
Yes :) that's what my investigation reveals as well. I think you need to pass `info` ...

[2021-05-04 14:24] adswa commented on #211
Ha, you're testsuite actually catches it. :)

[2021-05-04 14:39] adswa commented on #211
I'll start a PR that passes ``info``, but it looks like there is a bit more to it. I'm blindly poking at things because I do not know your internals well, but whereas ``noise`` used to be
[code]

it becomes
[code]
with mne-tools/mne-python@f1e6097, and this drags different failures along

[2021-05-05 12:27] #211 closed

[2021-05-23 15:10] jasmainak commented on #178
@thht can you share a dataset on which we can reproduce this?

[2021-05-27 19:44] #206 closed

[2021-06-11 14:32] jasmainak opened #217 "code for globally bad channel"
Often people are interested in globally bad channels. While `autoreject` is primarily meant for locally bad channels, one could use the `autoreject` machinery also for this purpose. First, do:

[code]

then something like:

[code]

Putting this here so that it does not get lost. Potentially can be converted into an example later

[2021-06-15 16:27] kalenkovich commented on #210
@adswa, I have the same problem. In the current version of `autoreject`, when `get_rejection_threshold` sets up cross-validation [here](https://github.com/autoreject/autoreject/blob/f778daf17649a256b7ef06505d7d88eb850acc1f/autoreject/autoreject.py#L219), it uses the `random_state` parameter:

[code]

Since there is nothing random about cross-validation, setting `random_state` does not hurt but doe

[2021-06-15 17:26] hoechenberger commented on #210
Correct, by default, `KFold` doesn't do any shuffling. If you want that, instantiate `KFold` manually and pass the instance, as suggested by @agramfort above.

[2021-06-15 18:24] kalenkovich commented on #210
I don't actually want the shuffling. I don't think OP is aiming for that either judging from their snippet.

The current version of `autoreject` does not work against `sklearn 0.24` if you supply `random_state` to `get_rejection_threshold`.

The development version does not have this problem, but downgrading to `0.23` should work until it is released.

[2021-06-15 19:26] hoechenberger commented on #210
Oh, I see, sorry, I totally misunderstood the question / problem then! 🙈

[2021-06-23 10:55] sappelhoff opened #218 "Ransac random_state should accept an instance of RandomState"
The autoreject [Ransac object](https://833-59485140-gh.circle-artifacts.com/0/html/generated/autoreject.Ransac.html#autoreject.Ransac) accepts a parameter `random_state`.

However unlike the [Autoreject object](https://833-59485140-gh.circle-artifacts.com/0/html/generated/autoreject.AutoReject.html#autoreject.AutoReject), the Ransac param does **not** accept a numpy `RandomState` object, but only

[2021-06-23 14:56] #218 closed

[2021-06-24 09:34] sappelhoff commented on #178
I pinged him in an email, we may have a chance for him to come back later in august :-)

[2021-06-24 10:30] thht commented on #178
hi,
sorry, this would need some work so i can remember what dataset it was etc... i am still on paternity leave, as @sappelhoff mentioned, until mid-august. i might be able to take a look at it in the second half of july because the little one will slowly start daycare then.... but until then, i do not have the time for it. sorry again!

[2021-06-24 12:51] jasmainak commented on #178
okay! no rush and thank you for this :)

[2021-06-28 20:15] jasmainak opened #220 "demo resting state data cleaning"
It would be good to show an example with resting state data and showing what is the trade off for different durations of epoch lengths

[2021-06-29 05:39] hoechenberger commented on #220
cc @dengemann @agramfort
You may want to subscribe to this issue 😎

[2021-07-20 12:57] jasmainak commented on #185
closed by #221

[2021-07-20 12:57] #185 closed

[2021-08-04 19:08] PARODBE opened #223 "Only detect one event after of fitting"
Hi!

Thank you for building such a useful library. I have a doubt, after of fitting:

![image](https://user-images.githubusercontent.com/62376157/128240070-6b3d9b7b-3101-4cb3-9b09-cbb803d72ef6.png)

I only obtain 1 event:

![image](https://user-images.githubusercontent.com/62376157/128240165-a4028dc7-a357-466f-9e75-09a90ed49556.png)

And I Know that we have much more events.

![image](https://user

[2021-08-04 19:27] jasmainak commented on #223
@PARODBE it says: Number of events = 762. Am I missing something? What events do you expect that are missing?

[2021-08-04 19:33] PARODBE commented on #223
Sorry @jasmainak I have not been clear,  I want to soy annotations. Could you help me on extracting the annotations .. sleep stage w, Sleep Stage N1 etc...

Thanks

[2021-08-04 20:40] PARODBE commented on #223
The epochs have a function for extract the annotations. Epochs.event_id...but If I do epochs_clean with this library .event, I only obtain one annotation (1)...

[2021-08-05 03:26] jasmainak commented on #223
please share a code snippet that I can run on my computer so I understand your problem

[2021-08-05 05:48] PARODBE commented on #223
Nice,

When the next code you obtain your data and your label:

from numpy import save
import mne
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import StandardScaler

data = mne.io.read_raw_edf('/media/usbdisk/data/ProyectoPSG/data/PSG1.edf', preload=True)
raw_data = data.get_data()
events, events_id = mne.events_from_annotations(data)
tmax = 30.

[2021-08-06 11:45] mscheltienne opened #224 "IndexError when using Ransac.fit()"
I ran into an issue with my data which I could reproduce using a dummy example with MNE sample data:

[code]

Error:

Traceback:

I'm using the latest version of `MNE` (0.23) and `autoreject` (0.2.1).

[2021-08-06 12:47] mscheltienne commented on #224
I feel like there is a `pick_to_idx` missing as the `sel` argument passed to `mne.io.pick.pick_info()` is not a list of id but the string `'eeg'`.
I think it should be placed in `autoreject.utils._handle_picks(info, picks)`, which currently looks like:
[code]
When `picks` is None, a selection (list of ID) is correctly returned. But when `picks` are provided, it directly returns the inputted string

[2021-08-06 13:13] jasmainak commented on #224
yeah the `picks` in `autoreject` is ancient. Lots have changed in MNE since then. It used to be only list of int. If you can give a shot at fixing this with tests, that would be great!

[2021-08-06 15:12] mscheltienne commented on #224
@jasmainak Ok so that is why. I'll give it a shot.

[2021-08-06 19:56] jasmainak commented on #223
@PARODBE honestly I don't understand what you're trying to do. It's difficult to help if you don't provide a full script and data that I can copy-paste and run on my computer. See: http://sscce.org/

I've edited your comment so it's formatted properly.

Based on what you've said so far, I suspect you observe this difference because you have a different workflow when using Autoreject:

[code]

as o

[2021-08-06 23:07] hoechenberger commented on #223
Yes, I suspect this is the issue here, too.

[2021-08-09 11:42] thht commented on #178
@jasmainak i just wrote you an email with a link to a dataset that replicates the issue for me, also with the fix merged.

if you do something along these lines:
[code]
you are going to see that in `bayesopt.py` in line 60,`f_new` is always `Inf` so the value is not updated#...

[2021-08-10 02:33] jasmainak commented on #224
closed by #225

[2021-08-10 02:33] #224 closed

[2021-08-10 09:50] mscheltienne opened #226 "Argument `picks` of method `AutoReject.get_reject_log(self, epochs, picks=None)` is not used."
Line 1042 to 1087 in `autoreject.py`:

[code]

`picks` is not used; instead `self.picks_` is used.

[2021-08-10 11:57] jasmainak commented on #226
What do you think should be the intended behavior?

Say you did

[code]

Use `picks_train` i.e., `ar.picks_` if `picks_test` is `None` ?

[2021-08-10 14:22] mscheltienne commented on #226
@jasmainak I have no idea. I never used it and I don't know what it's supposed to do. I just noticed that the argument of the function is not used at all; which is definitely not normal.

I did notice that in the class `_AutoReject` (not sure what it is, I would have expected `AutoReject` to inherit from `_AutoReject`) the method `_AutoReject.get_reject_log` does properly use its `picks` argument.

[2021-08-10 17:00] jasmainak commented on #226
`_Autoreject` is for a single `consensus` or `rho` and the `Autoreject` class loops over them and computes the scores.

Maybe @dengemann can help us figure out what's going on with the `picks` but there might be something to fix

[2021-08-10 20:12] dengemann commented on #226
I have to wrap my head around this ... I think we wrote this ~4 years ago. The general purpose of picking is that you can apply autoreject sequentially on MEG/EEG channels present in one recording but also exclude channels. The `.picks_` attribute is good because it does some smart logic at fit time. But that picks does not override the attribute sounds like a bug. It sounds like a good test / exa

[2021-08-10 20:43] mscheltienne commented on #226
Any way you put it, the fact you are asking an argument to the user; to then throw it into the trash looks very fishy ;)
+ the comment `# XXX gut feeling that there is a bad condition that we miss`..

[2021-08-18 06:01] jasmainak opened #228 "development version documentation"
This was brought up in the mailing list by @hoechenberger . We have been relying on CircleCI but having a proper drop down menu like in other MNE projects would be great

[2021-09-17 08:44] eduvalero opened #229 "Inconsistency in autoreject docs?"
Hi, in the first code cell of the [FAQ section](https://autoreject.github.io/faq.html) of the docs, it is recommended to do the following:
[code]
However, in the [MNE documentation](https://mne.tools/stable/generated/mne.preprocessing.ICA.html?highlight=ica%20fit#mne.preprocessing.ICA.fit), regarding the `reject` parameter of `ICA.fit`, it is explicitly said  that "It only applies if inst is of ty

[2021-09-17 10:11] hoechenberger commented on #229
This is an excellent catch and should definitely be corrected. We should agree upon a good practice here and then update the docs. Care to give it a shot?

[2021-09-17 10:23] eduvalero commented on #229
I would personally update the autoreject docs.

Instead of:
[code]
I would do:
[code]

This way the bad epochs found by `get_rejection_threshold` are dropped before `ica` comes in. Other suggestions are welcome.

[2021-09-17 19:15] jasmainak commented on #229
@eduvalero did you see this: https://890-59485140-gh.circle-artifacts.com/0/html/auto_examples/plot_autoreject_workflow.html#sphx-glr-auto-examples-plot-autoreject-workflow-py

If this answers your questions, we might want to nuke that section in the FAQ and instead point them to the tutorial

[2021-09-19 07:14] eduvalero commented on #229
Hi @jasmainak.

I have a question regarding the tutorial you linked. At the top, it says:

However, if we group the code used to process the epochs in the tutorial, we get:
[code]

From this code, I get the impression we are not applying: _autoreject (global) + ICA + autoreject (local)_
as indicated at the top of the tutorial, but _autoreject (local) + ICA + autoreject (local)_. Can you clear this

[2021-09-20 00:33] jasmainak commented on #229
Indeed, you should run "autoreject (local) + ICA + autoreject (local)". We should fix this in the tutorial. Thanks for bringing this up!

[2021-09-20 06:33] eduvalero commented on #229
Then, I think if you fix that in the tutorial, you can get rid of the FAQ section. The example you shared already provides an explanation to the autoreject + ICA problem. Thank you!

[2021-09-21 17:26] adam2392 opened #231 "Question on workflow regarding continuous time scalp EEG"
Hi,

I wasn't sure where the best place to ask was, so posting here. I have continuous time scalp EEG (not trials of a task) over say 5-10 minutes. These are just resting state EEG of non-seizing epilepsy patients in the EMU. During these 5-10 minutes the subject might move or have periods of very bad artifacts. I have three goals:

i) detect the time points and channels at which these occur
ii) (

[2021-09-21 19:07] jasmainak commented on #231
hey @adam2392 ! yes this is the right place to ask the questions

What will you use these data for? I am assuming for some time-frequency analysis? In that case you might want to make epochs that are long enough to avoid edge artifacts. But the longer you make epochs, the more chances you have of marking them as bad and rejecting them because of an artifact. So it's a bit of a trade-off.

If you c

[2021-09-21 19:07] jasmainak commented on #231
also reminds me of this issue: https://github.com/autoreject/autoreject/issues/127

[2021-09-22 02:22] #229 closed

[2021-10-04 12:37] mscheltienne opened #233 "Missing import for IPython console execution."
While trying out the [new workflow tutorial](https://github.com/autoreject/autoreject/blob/master/examples/plot_autoreject_workflow.py), I ran into a couple of issues with the progress bars.

In a new environment, in the python console, nothing breaks, and the progress bar work.
With the same environment, in the Spyder IPython console, I get:

[code]

Missing `ipywidgets` dependency? If I install

[2021-10-04 13:14] hoechenberger commented on #233
That's a new dependency for running `openneuro-py` in Jupyter
(running `openneuro-py` from IPython / Jupyter was not possible until … yesterday or so, as `openneuro-py` didn't re-use an existing async event loop, and creating its own in the same thread as IPython / Juypyter would fail)

The obviously simplest solution would be to make `ipywidgets` a hard dependency for `openneuro-py`, but this see

[2021-10-04 13:16] hoechenberger commented on #233
@mscheltienne What happens if you use `openneuro-py` version `2021.8`? In Jupyter it is expected to raise an exception, but how does the Spyder IPython console behave?

[2021-10-04 13:47] hoechenberger commented on #233
@mscheltienne Can you please check if this here works for you?

https://github.com/hoechenberger/openneuro-py/pull/57

If you're running `openneuro-py` from IPython oder Juypyter and ipywidgets cannot be imported, it should now provide a more useful error message. When running outside of Jupyter / IPython, ipywidgets should not be required

[2021-10-04 14:08] mscheltienne commented on #233
@hoechenberger I guess a similar problem is occurring with `openneuro-py`, but it's not the one at cause here. In this issue, the error is caused by the progress bar displayed by `AutoReject.fit()`, no?

That said, with openneuro version `2021.8`, I do get an error, but maybe not the one you are expecting:

[code]

The same code snippet works in the terminal, so the error is restricted to the IPyt

[2021-10-04 14:14] hoechenberger commented on #233
Thank you! Yes everything you reported is expected. Can you now try again with the PR branch of openneuro-py I linked above please? :)

[2021-10-04 14:19] mscheltienne commented on #233
@hoechenberger PR branch or main are both not working. No error was raised, but only the folder structure is created with no actual files..

[2021-10-04 14:30] hoechenberger commented on #233
@mscheltienne Bummer! I just pushed another change, can you try if that changes anything?

[2021-10-04 14:52] mscheltienne commented on #233
Hiding my replies, as the original issue is not with `openneuro-py` but with `AutoReject` progress bar(s).

[2021-10-04 15:03] hoechenberger commented on #233
They **are** related! Because `openneuro-py` uses `tqdm`, which `AutoReject` uses for displaying progress bars too. `openneuro-py` tries to do some clever things to get fancy progress bars in Jupyter, and this then also affects `AutoReject`.

[2021-10-04 15:11] mscheltienne commented on #233
@hoechenberger Sure they are similar, but it needs to be fixed individually for both no?

Snippet below, not using `openneuro-py` is raising the issue (file pre-downloaded with `openneuro-py`).

[code]

BTW, progressbar is working in IPython console...

![Screenshot 2021-10-04 at 17 10 32](https://user-images.githubusercontent.com/73893616/135876725-159ca74f-b640-4b46-8985-ddd9894974b3.png)

So si

[2021-10-04 15:13] hoechenberger commented on #233
Oh, interesting. So autoreject is in fact running into the same issue! Thanks for the clarification!

[2021-10-04 15:16] mscheltienne commented on #233
@hoechenberger Yes, and I think auto-reject also runs into https://github.com/spyder-ide/spyder/issues/6172, I remember seeing it pop up a couple of times in my Spyder's IPython console.

[2021-10-04 20:28] jasmainak commented on #233
Autoreject is using MNE progressbar now since #227 so it might need to be fixed upstream :)

[2021-10-05 10:58] mscheltienne commented on #233
@jasmainak Is it? I feel like it's working with MNE because MNE has the proper dependencies in the requirements, while they are missing in autoreject.

<details close>
<summary>Code snippet (similar to above but with wrong `verbose=True` removed ):</summary>
<br>

[code]

</details>

I have several venv setup, in one of them, both verbose `progressbar` and `tqdm` are working in both IPython consol

[2021-10-05 11:19] mscheltienne commented on #233
A quick differencial:

[code]

[2021-10-05 16:58] jasmainak commented on #233
humm, we can remove `tqdm` from the dependencies here: https://github.com/autoreject/autoreject/blob/97d401c6af1ea870fdc56ca49345dec06833af74/setup.py#L63

would that solve your problem? We literally don't use it anywhere in the codebase and you should just use the MNE environment for autoreject

[2021-10-07 17:00] alexrockhill opened #234 "[DOC, ENH] Link to development documentation on webpage"
It would be nice to have a link to the development documentation on the webpage or a dropdown menu like MNE-Python to select the version of documentation

[2021-10-08 14:21] mscheltienne commented on #233
I feel like progressbar have always been an issue with Spyder's console. It's very weird that depending on which dependency is installed, it sometimes works, sometimes it shows this weird HBox display, and sometimes it raises...
I doubt this is worth any change in `autoreject` or `MNE`, even if there is a combination of dependency (too lazy to look for it) that does make it work in all 3, python c

[2021-10-13 13:03] c-torre opened #236 "Loading saved AutoReject objects"
Hi, I fitted many AutoReject objects in a long batch job and saved them with the `AutoReject.save` method. Thus, I got a bunch of `.h5` files, but I don't seem to find how to load them.

1. What would be the way to do this right now?
2. In any case, should there be a dedicated function do achieve this? For example `autoreject.load_autoreject` consistent with e.g. `mne.preprocessing.load_ica`.

Tha

[2021-10-13 13:16] agramfort commented on #236
there is a read_auto_reject function in autoreject

it's not well documented though

[2021-10-14 04:53] jasmainak commented on #236
closed by #237

[2021-10-14 04:53] #236 closed, assigned to nobody

[2021-10-14 05:44] jasmainak commented on #233
Sorry for the delay in responding as I'm on vacation currently.

Back in the day I used to recommend installing `matplotlib` separately with conda because the `pip` install often broke things with IPython, Spyder et al. as you've rightly noticed. However, the Python ecosystem has moved towards putting the dependencies in `install_requires` of setup.py so you run one command and everything is insta

[2021-10-14 09:31] jasmainak commented on #233
I suggest starting from a fresh virtual environment in conda and sharing the steps needed to reproduce rather than sharing the environment file :) I'll give you the first command:

[code]

Now do the steps you suggest above and let me know if it works or not

[2021-10-14 11:52] hoechenberger commented on #233
@jasmainak So are you saying `tqdm` is not required by `autoreject`? Then I could drop the `tqdm` dependency for the `conda-forge` package as well.

[2021-10-18 12:59] jasmainak commented on #233
let's close then.

[2021-10-18 12:59] #233 closed

[2021-10-25 09:23] guiomar opened #239 "error running ar.fit_transform"
Hi @jasmainak !

Thanks a lot for the very useful tool :)
I was able to successfully run the functions in the package on mne version 0.23.

However, (I think it's due to be using 0.24dev version of mne) I'm getting this error while running `epochs_clean = ar.fit_transform(epochs)`:

I think by some reason before it was reading 99 coils, and now 105 coils (with the same data).

I share here the dat

[2021-10-25 10:10] #239 closed, assigned to nobody

[2021-10-25 18:41] adam2392 opened #240 "Saving reject log?"
Hi

I was wondering if there is a way to save the reject log? Saving the autoreject object does not actually persist the reject_log.

[2021-10-25 19:39] adam2392 opened #241 "Passing in figure/ax in reject_log plot"
Right now, the figure size is hard-coded in reject log plot. It would be nice to allow one to instantiate it themselves and say pass in `ax`?

[2021-10-26 14:36] ibr2011 opened #242 "Autoreject RuntimeWarning and figure display problem"
Greetings,

I have encountered two issues while using Autoreject. The first issue was a RuntimeWarning:
`\site-packages\mne\bem.py:974: RuntimeWarning: Mean of empty slice.
  radius_init = radii.mean()`
`site-packages\numpy\core\_methods.py:188: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)`
`\site-packages\numpy\core\fromnumeric.py:3419: RuntimeW

[2021-10-26 19:20] adam2392 opened #243 "Keep Epochs times and events data in RejectLog"
Ideally once you have the RejectLog, you shouldn't need to hold onto the Epochs data structure anymore. I am using the RejectLog to tell you which Epochs and hence which windows of the continuous EEG are noisy. This way I can do the following:

1. run some windowed analysis say TFR with window size of 2.5 seconds and step size of 1 second to compute the alpha power in all electrodes
2. run autorej

[2021-11-01 02:21] ibr2011 commented on #242
Greetings @jasmainak ,

I hope you are doing well.

The warning message occurred again using this dataset.
Link: https://github.com/ibr2011/Behavior_analysis.git

Could you please check it?

Regards

[2021-11-05 01:59] jasmainak commented on #242
@ibr2011 thanks for the report. I'll try to look sometime early next week!

[2021-11-09 23:49] jasmainak commented on #242
@ibr2011 I don't get the warning message with your dataset. Can you share what you get with:

[code]

here's mine and this gives no warning:

[code]

and here's my code:

[code]

can you make sure you are running latest version of both autoreject and MNE?

[2021-11-10 06:51] paulsowman opened #244 "Utility functions for autoreject"
Hi, thanks for making autoreject. A great tool.

It seems there might be a problem with utils.py

the Function _compute_dots calls _setup_dots(mode, coils, 'meg'). This function (now?) seems to require an extra argument.

By changing:

Ln 426 to

    int_rad, noise, lut_fun, n_fact = _setup_dots(mode, info, coils, 'meg')

AND

Ln 462 change to

    int_rad, noise, lut_fun, n_fact = _setup_dots(mod

[2021-11-10 10:27] jasmainak commented on #244
Can you do:

[code]

so you use the latest development version for now. I'll try to get a release out in the coming week

[2021-11-11 13:21] ibr2011 commented on #242
Hello @jasmainak ,

Thank you for your reply.

Attached is the output of `mne.sys_info()`

![sys_info](https://user-images.githubusercontent.com/17813340/141305231-a33ad09a-855c-419d-9bba-de9a2df33d75.png)

[2021-11-11 20:47] jasmainak commented on #242
also just to confirm, what is the `autoreject` version you are using?

[2021-11-11 21:06] ibr2011 commented on #242
Hello @jasmainak ,

Thank you for your patience.

I think it is '0.3.dev0'

[2021-11-11 21:23] jasmainak commented on #242
nopes I can't reproduce :(

![image](https://user-images.githubusercontent.com/15852194/141370916-6a91c1fa-73c5-4f0f-b2d2-052b6a16a698.png)

are you sure you [gave me the right dataset](https://github.com/autoreject/autoreject/issues/242#issuecomment-955872578)? I can't help unless I can reproduce this warning on another computer ...

[2021-11-14 16:02] ibr2011 commented on #242
This is bizarre. It was the right one. Link Below contains another dataset which the warning message appeared when I tried to perform autoreject.
Link: [](https://drive.google.com/file/d/1V5lyhDdBbRalExpbvYkwj5E4I_9ylwQJ/view?usp=sharing)

I truly apologize for taking lots of your time. If you couldn't reproduce the warning message, I'll attend the office hours of MNE on Discord on Friday if you p

[2021-11-15 03:24] jasmainak commented on #242
Do you want to send me an email on mainakjas [at] gmail [dot] com

Let's set up a time to talk on zoom. I'm not sure to be there on Discord but we can try to debug this separately

[2021-11-15 15:02] #242 closed

[2021-11-16 15:33] jasmainak opened #245 "use better defaults for n_interpolates"
The current default of `n_interpolates=np.array([1, 4, 32])` seems to fail for EEG with smaller channels e.g., 32 or 20. It sometimes finds all channels as bad and tries to interpolate. Found this issue while debugging a recent user problem.

I think a better default would depend on the number of channels. E.g., `n_interpolates = np.arange(1, n_channels // 2, n_channels // 8)` or something along t

[2021-11-16 15:38] agramfort commented on #245
would this break any existing code to change this?

did you evaluate / quantify the impact?

[2021-11-17 12:00] skjerns opened #246 "Ordering of preprocessing steps when including autoreject"
I'm currently using a dataset for machine learning in which I bandfilter the data at different brain bands. I struggle a bit to understand the best timepoint at which to apply `autoreject` in this case. I have to filter the data before epoching, due to the small epoch length and the relatively long filter bandwidth.

current workflow:

[code]

This is what I thought would probably be the optimal w

[2021-11-17 12:27] jasmainak commented on #246
That sounds about right to me. My only comment is about this:

I suppose you mean to find bad epochs? Take a look at this example if you haven't already:

https://github.com/autoreject/autoreject/blob/master/examples/plot_autoreject_workflow.py

[2021-11-17 12:29] skjerns commented on #246
Ah, great! I was not aware of the examples folder and this is example is not linked in the documentation :) thanks alot!

btw the [dev docs](https://circleci.com/api/v1.1/project/github/autoreject/autoreject/latest/artifacts/0/html/index.html?branch=master) link doesnt work on the README

[2021-11-18 08:09] #246 closed

[2021-11-18 10:07] sappelhoff commented on #246
Thanks for reporting @skjerns - I'll fix that in #247

[2021-11-18 16:06] jasmainak commented on #246
Thanks a ton @skjerns and @sappelhoff

Yes I'm aware of this issue, just need dedicated time to fix it :)

[2021-12-03 11:10] eort opened #252 "New stable release"
Hi everyone,

Given that the current "stable" release (0.2.2) does not work in combination with MNE 0.24, would it make sense to pack a new release? Or make a note in the installation instructions that the stable version currently only runs with 0.23. (I just found out the hard way ;)

[2021-12-03 14:12] sappelhoff commented on #252
+1

I think @jasmainak wanted to release soon, probably just hasn't got to it yet.

[2021-12-04 04:17] jasmainak commented on #252
apologies! I need #253 to make the release and after that it will be done!

[2021-12-04 21:02] #228 closed

[2021-12-04 21:02] #234 closed

[2021-12-05 15:56] sappelhoff commented on #244
will be tracked in #252

[2021-12-05 15:56] #244 closed

[2021-12-06 20:35] #241 closed

[2021-12-07 10:33] henrikroehr opened #256 "Autoreject cleans only some epochs, not all"
I tried to apply autoreject to a set of MEG data after epoching. One of my channels is very noisy (MEG 017), so I paid special attention to how autoreject handles this channel. While the majority of epochs looks quite well, a number of epochs are not repaired and are as noisy as before. I'll attach the plots of the first 10 and first 100 epochs before and after autoreject, on which this issue is q

[2021-12-07 21:50] jasmainak commented on #256
can you share a part of your data somehow so I can investigate?

[2021-12-08 13:00] henrikroehr commented on #256
Yes sure, I saved the raw and clean epochs to .txt files with pickle (only the first 10, as there file is quite large, but let me know if you'd like the whole file). You should be able to import the data with

`with open('epochs.txt', 'rb') as file:
    epochs = pickle.load(file)`

Thanks a lot for your support!
[epochs.txt](https://github.com/autoreject/autoreject/files/7676133/epochs.txt)
[epoch

[2021-12-08 16:34] jasmainak commented on #256
I will need your full data and script to reproduce. Can you share on dropbox? You can use `epochs.save`

[2021-12-09 18:00] adam2392 commented on #243
Okay, I thought about this a bit more, and what's necessary is the ability to map RejectLog from one Epochs object to another Epochs object. So for example, say we have noisy scalp EEG data, and we run autoreject with a 1 second duration and step size. This creates a RejectLog over 1second long Epochs.

Afterwards, we run a windowed analysis of say TFR on window size of 2.5 seconds and step size o

[2021-12-10 09:28] binarycache opened #257 "How to set data-type and what's the precision autoreject uses?"
Hi,

Is there any way to enforce the data-type to 64-bit since I believe sci-kit learn uses Float32. Also let me know if it doesn't matter at all for rejecting epochs since it does in filtering and other steps?

Thank you.

[2021-12-10 12:33] henrikroehr commented on #256
I just shared the dropbox folder with you. I used your @telecom-paristech.fr email address, is this the right one?

Again, thanks a lot for your help!

[2021-12-11 06:06] jasmainak commented on #256
sorry I need to update the email address. Could you send to

mainakjas [at] gmail [dot] com

[2021-12-11 06:10] jasmainak commented on #257
hi @binarycache the data in MNE is all 64-bit except when saving if I remember correctly. See this old documentation:

https://mne.tools/0.14/manual/pitfalls.html#float64-vs-float32

I can't find it in the new docs. I don't think it should have a big impact on your results, so just use whatever MNE gives you

[2021-12-13 05:22] #257 closed

[2021-12-14 20:58] henrikroehr commented on #256
Yes just shared it, did you receive it?
Here the link as well:
https://www.dropbox.com/sh/ivpd0pj3z49mdq5/AAAA_inRGIv12KQviekowEPva?dl=0

[2021-12-31 15:47] henrikroehr commented on #256
Hi @jasmainak, die you receive the link and had time to take a look at it yet?

[2022-01-02 10:11] jasmainak commented on #256
@henrikroehr I did manage to get around to this today. Here is the result of my investigations:

![image](https://user-images.githubusercontent.com/15852194/147872372-6b1c05d8-4661-4dc2-8181-89ecd880474b.png)

code: https://gist.github.com/jasmainak/05dc7c6d26592297d39a4fa25fb21d88

The crux of the problem is that cross-validation in autoreject causes all sorts of problems that could have been eas

[2022-01-02 10:21] agramfort commented on #256
hum....

not sure what you mean with no cross-val but if you mean fitting and
testing on the same data you can use
cv object with a scikit-learn API that outputs the full list of indices for
the train and the test. We could expose this with
passing cv=1 in the public API. Wdyt? clear?

[2022-01-02 10:25] jasmainak commented on #256
I tried `cv=1` but sklearn was complaining. Do you know if it's allowed?

[2022-01-02 11:01] agramfort commented on #256
it would not be allowed with sklearn but you can do if cv=1 use a splitter like this:

[code]

[2022-01-02 11:41] jasmainak commented on #256
excellent! Yes that's what I was looking for. In that case, we can add a `cv` argument to `compute_thresholds` that by default does `cv=10` but can also be `cv=NoSplitter()`. So the code would be something like

[code]

Wdyt @henrikroehr ?

[2022-01-02 11:51] jasmainak commented on #243
@adam2392 can you propose an API for this? It would be great to have `autoreject` work out of the box on raw data for TFR analysis etc but I don't have a clear picture of the latest API that could be supported with MNE

[2022-01-03 12:55] jasmainak commented on #240
closing as solved

[2022-01-03 12:55] #240 closed

[2022-01-04 10:28] jasmainak commented on #252
Just pushed to Pypi: https://pypi.org/project/autoreject/0.3/

happy new year :)

[2022-01-04 10:29] #252 closed

[2022-01-04 12:25] jasmainak commented on #252
@sappelhoff I just realized there is a `conda` release for autoreject as well, thanks to you :) Do you have time to update it for the new release?

[2022-01-04 14:15] sappelhoff commented on #252
Sure! But currently only @hoechenberger has admin rights, so I suggest he adds you and me first :-)

Happy new year!

[2022-01-13 09:01] henrikroehr commented on #256
Hey apologies for my late response. I think this solves my problem, thanks a lot!

[2022-01-23 04:38] jasmainak opened #258 "add dependency on h5io which is no longer vendored with mne-python"

[2022-03-08 12:27] hoechenberger opened #262 "New release?"
Hello, have you considered cutting a new release to be compatible with the very-soon-to-be-released MNE-Python 1.0?

[2022-03-08 18:37] jasmainak commented on #262
yes I owe this to @agramfort ;-) Perhaps first it's worth checking first if something breaks ...

is there going to be a release candidate first or directly 1.0 ?

[2022-03-15 01:24] jasmainak commented on #262
Done, made the new release :)

[2022-03-15 01:24] #262 closed

[2022-03-15 06:31] hoechenberger commented on #262
Awesome, thank you!

[2022-03-15 08:30] hoechenberger commented on #262
@jasmainak Can you please push an sdist to PyPI? There's only a wheel, which I cannot package for conda-forge. Thank you!

[2022-03-15 09:13] sappelhoff commented on #262
perhaps automating the pypi pushing when making a GitHub release would be a smart thing? I do that in several repos and have not run into any issues: https://github.com/bids-standard/pybv/blob/main/.github/workflows/python_publish.yml

[2022-03-15 09:20] hoechenberger commented on #262
Yep I do that too with `openneuro-py` and it's extremely convenient.

[2022-03-15 09:20] hoechenberger commented on #262
CONGRATS!!!!!

[2022-03-15 09:24] hoechenberger commented on #262
Be sure to switch to using tokens if you haven't done so already :)

[2022-03-15 09:30] sappelhoff commented on #262
thanks!

true! I actually use "upload tokens" for this GH action, not passwords.

[2022-03-15 15:32] larsoner commented on #262
There is only one maintainer listed for the `autoreject` project on PyPi, which is also dangerous. @jasmainak could you add at least @agramfort and maybe @hoechenberger and me (Eric89GXL)? Then any one of us could push the `sdist` as well.

[2022-03-15 15:35] larsoner commented on #262
I went to try to do this (not sure if I even have the permissions) but it looks like the `__init__.py` version is still 0.3, too. So make sure you (all) update that before doing a GitHub release and sdist PyPi upload:

https://github.com/autoreject/autoreject/blob/9cccda6c7617f4188da6269082d58191777586c8/autoreject/__init__.py#L2

[2022-03-15 16:28] jasmainak commented on #262
Congrats Dr. Appelhoff ! I don't think there should be a doc push because this is more like a backport release. There have been only 4 commits since 0.3. I'm not looking to do regular releases of autoreject ... MNE releases break autoreject because autoreject uses internals of MNE and the releases are to keep autoreject functioning.

agree, I'll add @sappelhoff and @agramfort. But please ask me be

[2022-03-15 17:03] hoechenberger commented on #262
Re poetry, I haven't seen new projects in a while that do not use it instead of setup.py. But I do see your point. I will try to convince you to switch next year 😅😅😅

[2022-03-15 17:04] hoechenberger commented on #262
Since autoreject uses MNE internals, I'm wondering if it could make sense to set up a regular (weekly) CI run to catch problems early? WDYT?

[2022-03-15 17:08] larsoner commented on #262
I set up a `azure-pipelines.yml` for MNE-KIT-GUI that runs every night and emails when something breaks. Other than some false alarms due to Conda being too slow sometimes (which is mostly `mayavi`'s fault and I've fixed using `mamba`), it has been useful for this:

https://github.com/mne-tools/mne-kit-gui/blob/main/azure-pipelines.yml

I could set up something similar here if it would help. I ass

[2022-03-15 17:10] larsoner commented on #262
... a maintainer would also either have to install the Azure app on GitHub if it's not already there, or give me maintainer or owner (not sure which) permissions to install it myself. There might be other admin stuff, too, but we can figure that out as we go.

[2022-03-15 17:41] hoechenberger commented on #262
@larsoner I understand that it would be straightforward for you to re-use the existing Azure pipelines config, but wouldn't it be "easier" to use GH actions, in the sense that more maintainers would be familiar with it? Just a thought!

[2022-03-15 18:40] hoechenberger commented on #262
We have something set up with `mne-bids`. Mind the `cron` trigger:

https://github.com/mne-tools/mne-bids/blob/abe93a3ba981e1805690532b6948f8dcd695cef1/.github/workflows/unit_tests.yml#L7-L16

I'm not sure if this sends out email notifications on failing tests, though.

[2022-03-15 18:56] larsoner commented on #262
Yes, and CircleCI and Travis have something similar...

... indeed this is the part that needs investigating, if you or someone else wants to investigate

[2022-03-15 19:15] hoechenberger commented on #262
https://docs.github.com/en/actions/monitoring-and-troubleshooting-workflows/notifications-for-workflow-runs

So this is probably not really what we want, right?

[2022-03-15 19:19] larsoner commented on #262
Correct. In Azure you can manually set/manage a list of emails to notify on run failure.

[2022-03-15 19:29] hoechenberger commented on #262
Go ahead with Azure then 😁

[2022-03-15 19:44] larsoner commented on #262
Hah!
[code]
@hoechenberger can you create the `autoreject` org on https://aex.dev.azure.com/me (there should be a big "Create new organization" button in the upper right once you sign in) then add me and Mainak as owners?

[2022-03-15 19:58] hoechenberger commented on #262
@larsoner Not sure if I did this correctly, can you LMK if you've go sufficient permissions?

[2022-03-15 20:29] jasmainak commented on #258
closed by #259

[2022-03-15 20:29] #258 closed

[2022-03-15 20:38] jasmainak commented on #262
mainly :) I will accept your offer ;-)

[2022-03-15 20:38] larsoner commented on #262
[code]
It has my correct email listed but I can't see the org page. :( Did you add me as an owner?

When I refreshed it came to a page that said I should create a project, but then said:
[code]
Not sure what's going on...

[2022-03-15 20:40] jasmainak commented on #262
Yep, I did add you as "owner" ...

[2022-03-15 20:41] jasmainak commented on #262
![image](https://user-images.githubusercontent.com/15852194/158468749-8a0877cc-0898-4f88-859a-a5be99312c75.png)

[2022-03-15 20:44] larsoner commented on #262
Sorry, that comment was meant for @hoechenberger . I can add Azure using GitHub, but so far lack permissions on the Microsoft end for the autoreject org that @hoechenberger set up.

[2022-03-15 20:48] hoechenberger commented on #262
I think you should be owner now

[2022-03-15 20:48] hoechenberger commented on #262
The org apparently can only have a single owner

[2022-03-15 20:58] larsoner commented on #262
Can you add me as an admin / highest non-owner permissions?

[2022-03-15 20:59] larsoner commented on #262
Looks like I can create a project!

[2022-03-15 21:00] larsoner commented on #262
... but only a private one. Perhaps you made a private org or something? In any case, if you can create a *public* `autoreject` project, I think I can proceed...

[2022-03-15 21:56] hoechenberger commented on #262
@larsoner I actually had transferred ownership of the entire **org** to you … let's see if I can even change anything about the org now anymore!

[2022-03-15 21:57] hoechenberger commented on #262
@larsoner never mind, I just saw https://github.com/autoreject/autoreject/pull/263#issuecomment-1068503736
so things appear to be working now as intended!

[2022-03-15 21:58] larsoner commented on #262
Indeed, Azure is in process... now we "just" need @sappelhoff to work some automated release magic for more maintainability gains :)

[2022-03-15 22:01] hoechenberger commented on #262
I already see his pain materialize b/c he'll have to do it on Azure now instead on GH Actions 😶‍🌫️

[2022-03-15 22:04] larsoner commented on #262
Why? I didn't remove any GH action functionality, just added Azure...

[2022-03-15 22:07] sappelhoff commented on #262
I think I have most of the rights I need now:

- pypi "maintainer"
- autoreject "write" (as far as I can tell)

I just need to be made collaborator on https://github.com/autoreject/autoreject.github.io so that I can push stable doc releases there. I got Mainak's approval here: https://github.com/autoreject/autoreject/issues/262#issuecomment-1068446039

:-)

[2022-03-15 22:10] larsoner commented on #262
You are listed here

https://pypi.org/project/autoreject/

I can take care of these now...

[2022-03-15 22:12] larsoner commented on #262
Okay you have "maintainer" level for both repos: https://github.com/orgs/autoreject/teams/maintainers/repositories

Let me know if it's not sufficient and I'll rename the group and set perms to "Admin" level

[2022-03-15 22:15] hoechenberger commented on #262
Ah, got it!

[2022-03-15 22:41] sappelhoff commented on #262
Great, I'll get to work tomorrow. Practically speaking, the 0.3.1 release will now always show 0.3.0 as its `__version__`, right? All I can do is upload an additional sdist to the wheel on pypi

[2022-03-15 22:43] jasmainak commented on #262
what I did was update `__version__` in `maint/0.3.1` and create the dist on that branch without touching `master`. I think `__version__` in master should be `0.3.dev0`

[2022-03-16 07:46] agramfort commented on #262
if you branch 0.3 then master should become 0.4.dev0
and 0.3.1 should be a bug fix release in the maint/0.3 branch

do you allow me to do this?

[2022-03-16 07:57] hoechenberger commented on #262
+1

[2022-03-16 08:09] sappelhoff commented on #262
Okay, I'll not do anything for now then until I get green light from Alex that he is done 👍 I think we got green light from Mainak already, see above

[2022-03-16 09:08] agramfort commented on #262
I started my day of meetings. Please give it a try. Otherwise it will wait
a bit

[2022-03-16 09:37] sappelhoff commented on #262
@larsoner it seems like I cannot set GitHub Secrets with my current permission - however I need to do that to add the PyPI upload token for automating the release push

[2022-03-16 10:37] larsoner commented on #262
You should have admin permissions now for secrets

[2022-03-16 11:31] sappelhoff commented on #262
What are your opinions on the "sleeping dogs"?

[2022-03-16 11:36] hoechenberger commented on #262
Can we simply remove the respective tag?

[2022-03-16 11:36] larsoner commented on #262
+1 for deleting 0.10 from GitHub and PyPi. It seems like the easiest solution. If someone *really* wants 0.1 or it's important to have it, we can go back to the right place in history and recreate the tag and push...

[2022-03-16 11:44] sappelhoff commented on #262
fun story: on PyPI it's 0.1 :) so I think it was just a GitHub typo https://pypi.org/project/autoreject/0.1/

so we could:
- tag the commit that is currently tagged with v0.10 with another tag called v0.1
- delete the v0.10 tag AND associated release
- make a new v0.1 release based on the new v0.1 tag
- leave pypi as is

what about the 0.2.2 issue?

[2022-03-16 11:46] hoechenberger commented on #262
Honestly I would just kill the 0.10 tag and not bother with the other stuff

[2022-03-16 11:48] larsoner commented on #262
Agreed -- I also wouldn't worry about the 0.2.2 stuff but if you're really motivated to fix the tags, I don't see a problem with deleting the old bad ones and using the correct naming/numbers

[2022-03-16 14:16] sappelhoff commented on #262
okay done - tags and releases are all in order now. The final issue is that the branch "maint/0.2.2" exists, which should rather be a commit in "maint/0.2" ... but I am not going to touch that, because it's too easy to screw something up there unnecessarily. :innocent:

[2022-03-16 14:35] jasmainak commented on #262
Big thank you @sappelhoff !! 🥳 🙏 🚀 🧠

[2022-03-28 21:02] szerfas1 commented on #233
This just broke for me too:
[code]
Results in:
<details>
<summary>Traceback</summary>
<br>
[code]
</details>

[2022-03-29 05:04] jasmainak commented on #233
what version of MNE are you using @szerfas1 ?

[2022-03-30 02:46] szerfas1 commented on #233
Ah, I didn't realize I had fallen behind the latest version. I was on 0.24.1 and I see 1.0 is now out.

I just upgraded with `pip install -U mne` to 1.0 and got a different error about mne/externals, which I was struggling to find in my site-packages. Then I created an entirely new conda env, which worked fine. Thanks for asking :)

Slick new visualizations with mne-1.0!

[2022-04-05 01:23] alexrockhill opened #266 "[ENH] Add option for dropping epochs where there are more bads than n_interpolates_"
I can write a PR for this but I wanted to see what others think cc @jasmainak.

I think when you interpolate only a sub-selection of the channels that are bad but accept the epoch, that's a bit odd. This is because that same channel would be interpolated in another epoch if there were fewer epochs that were bad. I propose to add an option to drop these epochs.

Before
![image](https://user-images.

[2022-04-05 05:03] jasmainak commented on #266
This is on purpose. If fewer channels are bad in another epoch, that channel can be reconstructed. But if too many channels are bad, then the interpolation quality will be bad ...

[2022-04-05 06:11] agramfort commented on #266
to me it becomes an empirical question on some data where a new option
appears useful (ideally quantitatively)

[2022-04-05 14:55] alexrockhill commented on #266
I think whether the interpolation is good is a lot more local question; if the bad channels are adjacent, I might not want to interpolate. That could add some more nuance. I think a bit of post hoc adjustments would be nice, it could even be it's own function.

[2022-04-05 17:34] alexrockhill commented on #266
Here's what I'm going to use on my data to be pretty picky in what I include

[code]

My goal with this is to interpolate things like electrode pops which happen to one channel in one epoch or periods of increased noise in a channel over a few epochs but to exclude all other epochs where more than one or two things are going wrong. I'm happy to add a PR to this extent that can either add it to `au

[2022-04-05 18:47] jasmainak commented on #266
I like the idea of using adjacency to decide what channels to interpolate :) Unfortunately I just don't know "how much" better any of these alternative approaches are. So far we have avoided making ad hoc changes to the core algorithm without quantitative comparison. I'm not completely opposed to adding an option as long as the default is the original algorithm but what does the boss (@agramfort )

[2022-04-05 18:51] agramfort commented on #266
we even discussed this idea during your PhD @jasmainak ;)

+1

would you do the improvement with some new param in init or transform? what
would be the API like?

[2022-04-05 18:57] alexrockhill commented on #266
Maybe we could add the quantitative comparison in an example? It looks like you used HCP data in the paper but maybe we can do a smaller dataset?

I think the API could be something like `autoreject.transform(epochs, interp_adjacent=False).

[2022-04-05 19:02] alexrockhill commented on #266
A really good example of the issue is that I get some like this

![image](https://user-images.githubusercontent.com/13473576/161830124-fb97641d-75e4-4315-b660-d668f9d46d0d.png)

Where a channel is mostly bad but about half are kept as false positives and half are interpolated; this is the main internal consistency issue to me.

[2022-04-05 19:18] jasmainak commented on #266
can you explain in English (not Python :) what `interp_adjacent` would do? That is what is the rule for interpolating/dropping? If any of the adjacent channels are bad, you don't interpolate regardless of `rho` ? Do you drop then?

[2022-04-05 19:20] alexrockhill commented on #266
If `interp_adjacent` is `True`, then the channels will be interpolated normally (current behavior), if `False`, then if a channel is to be interpolated but is adjacent to another channel that is bad or interpolated, the epoch would be dropped instead.

[2022-04-05 19:26] jasmainak commented on #266
no objection to implementing this but one thought that comes to mind is that this behavior might be too aggressive and drop too many epochs. You can probably still interpolate fine even if one neighboring channel is bad ...

[2022-04-05 19:28] alexrockhill commented on #266
Agreed, the default could be `False` but if you want to be careful with interpolation, you could set it to `True`.

[2022-04-05 19:29] jasmainak commented on #266
sounds good, PR welcome !

[2022-04-05 19:31] alexrockhill commented on #266
The other convenience function I would like to suggest is `autoreject.transform(epochs, interp_thresh=0.5)` this could be `None` by default in which case nothing would change (current behavior). If a float is passed, then if more than that much of the channel is marked as bad or for interpolation, the whole channel is interpolated (since presumably it should have been marked as bad and drop before

[2022-04-06 18:31] alexrockhill commented on #266
@jasmainak, what do you think re the second suggestion? If you'd rather not open that much post-hoc modification that's fine, I totally defer to your preference

[2022-04-06 19:04] alexrockhill opened #269 "[ENH] Add `transform` to `RejectLog`"
It would be nice to have the `RejectLog` be able to transform epochs, especially if it is modified as in #266. It could also be saved and loaded, I think tsv might be nice if that's desirable. I want to plan this out a bit so I don't do things that aren't helpful.

[2022-04-07 11:43] jasmainak commented on #266
I think it needs a better name to convey the aspect of epochs/time :) But otherwise it's okay.

Now note that the idea of autoreject is to work "out of the box" ... so by default users shouldn't have to tweak parameters, as otherwise it opens a pandora's box. You'll have to tweak these parameters for different subjects/runs etc. You'd need to possibly do some science to figure out what values of t

[2022-04-13 08:29] eort opened #271 "[ENH] Make exclusion of bad epochs optional"
Hi,

In my pipeline, I usually prefer to not drop any epochs, but rather mark them as bad by changing the event code. Like that it is easier to match the behavioral file with the epochs. At the moment, I don't see a direct way of accomplishing this with autoreject while also doing the interpolation. I managed to workaround this by extracting the exclusion from the fitted RejectLog, and then call t

[2022-04-13 08:40] eort opened #272 "[ENH] Combining Autoreject objects"
Hi,
Would it be possible to combine autoreject objects that we're run on the same data but different channel types, i.e. grads and mags? Like that it would be a little more straightforward to illustrate the data cleaning step in a single plot, and extract these information. Or would this mess with the algorithm?

[2022-04-13 08:44] sappelhoff commented on #271
Have you looked at https://mne.tools/dev/auto_tutorials/epochs/30_epochs_metadata.html ? You can attach the behavior data directly to `Epochs`, and whenever a particular epoch is dropped, the corresponding row from the (behavior) metadata is dropped as well.

[2022-04-13 09:06] eort commented on #271
I wasn't aware of it actually! Thanks for pointing it out, this looks very useful.

Still, I think there are situations in which optional dropping could be useful (e.g. compare bad/good epoch visually, manual adjustment of bads, etc.).

[2022-04-13 15:53] jasmainak commented on #271
you can get the indices by doing `ar.get_reject_log(epochs)` which should contain the bad epoch indices in `reject_log.bad_epochs`. Regarding optional dropping capabilities I'm thinking of adding `epochs.transform(reject_log=reject_log)` that allows you to modify the automatic annotations based on visual inspection.

[2022-04-13 15:57] jasmainak commented on #272
currently autoreject does iterate on different channel types if present and for bad epochs, it takes the union of bad epochs detected for each of the channel types. Are you looking for something more than this functionality?

[2022-04-13 17:12] eort commented on #271
So then you would extract the log from a fit, modify it to your liking and then pass it to transform? That would work for my purposes. Sounds nice

[2022-04-14 00:12] jasmainak commented on #272
If [I am reading the code correctly](https://github.com/autoreject/autoreject/blob/9571e1f35497bc5484af8f2cfafcc3c91b6b6f18/autoreject/autoreject.py#L1076-L1083) you should get a single reject log that contains the union of the reject logs of different channel types.

[2022-04-15 19:57] jasmainak commented on #220
closed by #221

[2022-04-15 19:57] #220 closed

[2022-04-15 19:59] jasmainak commented on #204
closed by #221

[2022-04-15 19:59] #204 closed

[2022-04-17 13:31] #269 closed

[2022-04-17 13:31] #271 closed

[2022-04-17 13:32] jasmainak commented on #271
it's in now :) You should be able to use it

[2022-04-17 16:19] eort commented on #272
Yes, thats right. Everything is actually much easier than i thought. Nice :)

[2022-04-17 16:19] #272 closed

[2022-04-20 14:05] henrikroehr commented on #256
Hi @jasmainak,

Apologies for reopening this thread after long time. At first it looked like the code you and @agramfort provided to me fixed the issue, and it mostly did, i.e almost all the bad epochs were repaired. However, now I found another epoch which eluded autoreject, and I was wondering if you have any idea what might be the cause for it.

The raw data are still the same as in the dropbox

[2022-04-22 18:44] jasmainak commented on #256
You'll need to update autoreject to the latest development version. But before you do that, you should perhaps push your changes in autoreject somewhere so we can copy it into the main repository. Are you using version control? Once you do that, just roll back the current edit and get the latest copy. I'll then work on incorporating your changes into the main repository and you can update your aut

[2022-05-03 15:25] henrikroehr commented on #256
Okay sounds good. I though I had the latest version, but now noticed it was recently updated.

I pushed the autoreject.py file with the changes I made to https://github.com/henrikroehr/autoreject_changed

[2022-05-18 20:00] jasmainak commented on #256
Thank you! I will take a look soon :)

[2022-06-22 20:47] kartavya15 opened #275 "Autoreject does not accept 'csd' channel type"
Hi there, I computed current source density projections for my epoched EEG data in MNE-Python. This changes the 'eeg' channel types to 'csd' type. Trying autoreject then shows the following error- _ValueError: No channels match the selection.__ Without the CSD step, autoreject works just fine for the same data.

[2022-06-23 01:03] jasmainak commented on #275
I think you should apply autoreject on data before CSD. Because CSD will remove spatial correlations which makes the interpolation less accurate. Any thoughts @agramfort ?

[2022-06-23 07:16] agramfort commented on #275
Yes I would apply it before CSD

I don’t know if it’s done to interpolate with spherical harmonics CSD data

[2022-06-23 16:35] kartavya15 commented on #275
I see. We have a dataset of EEGs with frequent occurrence of high amplitude delta or other high amplitude generalized periodic activity (ICU patients), which is erroneously removed by autoreject (n_interpolate = np.array ([1, 2, 3, 4]), consensus = [0.5]), sometimes rejecting almost half of the epochs! An example of this is in the screeshot below. I can confirm that those are not eyeblinks.

The C

[2022-06-23 19:21] jasmainak commented on #275
Autoreject cannot distinguish between high amplitude brain activity and high amplitude artifacts. You can increase `consensus` if you want to drop fewer epochs, say to 0.8. Another option is to filter the data to remove high-amplitude brain activity, get the autoreject annotations on the filtered data and apply it on the unfiltered data.

[2022-06-24 10:29] kartavya15 commented on #275
Thanks, I'll try those out. Appreciate the input.

[2022-06-24 10:29] #275 closed

[2022-07-02 08:52] chapochn commented on #198
Hello! I would also be interested in making it work with ECoG, and was wondering if you made any progress in this direction?

[2022-07-02 08:57] chapochn opened #276 "autoreject.compute_thresholds error with no channel locations"
Hello,
I am trying to use the function `autoreject.compute_thresholds` without channel locations. I set `augment=False`, but still get the error:
`RuntimeError: Valid channel positions are needed for autoreject to work`
Is that to be expected?

[2022-07-07 00:35] jasmainak commented on #198
@chapochn sorry for the delayed response. Is there a public dataset that could be used to try this on? Maybe something on openneuro?

[2022-07-07 00:39] jasmainak commented on #276
humm ... are you trying to make it work for SEEG? I think the augmentation trick is critical to make autoreject give proper results, specially when there are globally bad channels. But if you want to try anyway, we can fix this error. Feel free to start a pull request!

[2022-07-07 00:42] jasmainak commented on #276
What might be probably more impactful if there is an interpolation method that works for sEEG and can be implemented upstream in MNE-Python.

[2022-07-08 20:11] skjerns opened #277 "Possible bug in RANSAC, job distribution calculated wrong"
While checking the code I stumbled across the following thing. I'm not sure if it's a bug, as I'm not very familiar with RANSAC.

https://github.com/autoreject/autoreject/blob/f1f3536b2f73bee16db3134a312c7fcd2ae25a59/autoreject/ransac.py#L204-L209

Here we get a bunch of random subsets of channels for different jobs. Then we also split up the epochs for different jobs. Then we zip them and run the

[2022-07-09 09:36] agramfort commented on #277
I agree it's weird. The zip is clearly not done over arrays of the same
size.

@jasmainak do you have time  to look?

[2022-07-09 10:21] skjerns commented on #277
Additionally, the mappings should probably be only created once for all jobs? I don't fully understand the logic of the mappings though, for different subsets we need different mappings, but why does the number of subsets vary in case we have different jobs?

For `picks=meg`, the function spends 95% of the time creating the mappings.

[2022-07-09 14:50] jasmainak commented on #277
I can't quite figure out why it was written the way it was ... this was 5 years ago and Ransac code is hardly touched. If you have ways to fix it, that is most welcome :)

[2022-07-12 09:47] guishuyunye-lyw opened #279 "ModuleNotFoundError: No module named 'mne.externals'"
When I try to run 'from autoreject import AutoReject', I got this issue.

[2022-07-12 09:55] sappelhoff commented on #279
Can you try `pip install -U autoreject` and see whether the error is still present afterwards?

please run `mne sys_info` in your terminal and post the output formatted as a code block here, thanks!

[2022-07-12 10:06] guishuyunye-lyw commented on #279
I tried and got same result.

![image](https://user-images.githubusercontent.com/20347818/178465684-0233f643-793b-49a1-a2e6-1c678839bebe.png)

[2022-07-12 10:21] sappelhoff commented on #279
Please post the entire output of `mne sys_info` as a code block, not parts of it as a screenshot, that may help with debugging.

[2022-07-12 10:29] guishuyunye-lyw commented on #279
Platform:         Windows-10-10.0.19043-SP0
Python:           3.8.10 (default, May 19 2021, 13:12:57) [MSC v.1916 64 bit (AMD64)]
Executable:       D:\ProgramData\Anaconda3\envs\RSA\python.exe
CPU:              Intel64 Family 6 Model 158 Stepping 10, GenuineIntel: 6 cores
Memory:           23.9 GB

mne:              1.0.3
numpy:            1.20.3 {blas=mkl_rt, lapack=mkl_rt}
scipy:            1.6.

[2022-07-12 11:14] sappelhoff commented on #279
Thanks. I don't see where the problem is: We are regularly running our test suite with the same software versions that you have specified, and all tests pass without us running into the import problem. I suspect you have some installation issue like anaconda looking for a package in an unexpected spot.

If I were you, I'd completely uninstall anaconda and re-install my work environment step by ste

[2022-07-13 01:14] guishuyunye-lyw commented on #279
You are right! After reinstalling the anaconda and related env, the error disappeared. Thank you so much!

[2022-07-20 00:12] chapochn commented on #276
For now, I just did a PR to have `get_rejection_threshold `working. I will also check to update the code for `compute_thresholds`.

Maybe some kind of interpolation could work, only using the closest electrodes, but I'm not sure if I would rely on it...

[2022-07-20 03:04] chapochn commented on #276
To make  `compute_thresholds` work, I could just add an optional parameter (true by default) to the function `_check_data`, which tells whether to check or not for location data. Does that sound satisfactory?

[2022-07-20 15:17] chapochn commented on #198
There are many datasets in openneuro, but I woundn't know a specific one on which there would be artifacts to check on...

[2022-07-20 19:49] jasmainak commented on #276
That sounds reasonable to me for now. Interpolation will possibly require source estimation for SEEG and that will take a while to implement in MNE

[2022-07-21 20:47] #277 closed

[2022-07-24 18:03] GWeindel opened #283 "Reject remaining bad epochs visually after autoreject"
A nice feature would be to be able to drop some epochs when inspecting results through:
``` reject_log.plot_epochs() ```
For now, with ```epoch``` being original epochs and ```epochs_ar``` being epochs after rejection, when I manually reject epochs with the previous plot function ``` epochs_ar.drop_log``` doesn't get updated. And if I run ``` reject_log.plot_epochs() ``` again I get
[code]
I guess

[2022-07-25 03:44] jasmainak commented on #283
I think a good feature to have is to modify the `reject_log` after `reject_log.plot_epochs()` is closed ...

then you can supply the `reject_log` to `ar.transform(epochs, reject_log=reject_log`

[2022-07-25 11:51] GWeindel commented on #283
Calling ```epochs_ar, reject_log = ar.transform(epochs, return_log=True)``` after the visual rejection works, I'll think how to do what you suggest

[2022-07-27 06:44] jasmainak commented on #283
Great, keep me posted

[2022-08-01 22:18] #276 closed

[2022-10-07 11:37] hoechenberger opened #286 "New release?"
Hello, could you please cut a new release so we have MNE-Python 1.2 compatibility (i.e., we need #284)? Thanks!

[2022-10-07 12:29] larsoner commented on #286
Assuming the process is:

1. change version number to 0.4.0
2. cut release on GH
3. push sdist and wheel to PyPi
4. push `maint/0.4` branch
5. bump to 0.5.dev0

I can do it today. Just let me know if this is correct @sappelhoff @jasmainak

[2022-10-07 15:39] jasmainak commented on #286
I’ll add you as maintainer. Probably a minor release number though? No
major changes since last release

On Fri 7 Oct 2022 at 08:30, Eric Larson ***@***.***> wrote:

--
Sent from my iPhone

[2022-10-09 00:03] jasmainak commented on #286
sent you an invite @larsoner

[2022-10-09 20:58] larsoner opened #289 "MAINT: Test with mne-qt-browser"
The default plotting backend for MNE is mne-qt-browser, but it's untested here. For me this example fails:

https://autoreject.github.io/stable/auto_examples/plot_visualize_bad_epochs.html#sphx-glr-auto-examples-plot-auto-repair-py

I think we need:
[code]
But this should be tested as part of CI integration of mne-qt-browser as well.

Ideally the mne-qt-browser scraper from MNE would be used to bu

[2022-10-09 21:00] larsoner opened #290 "BUG: Docs are not build with errors-as-warnings"
It's best practice AFAIK to build with `SPHINXOPTS='-nWT --keep-going'` to treat warnings as errors. It would have caught this stuff:
[code]
Ideally CircleCI / `docs/Makefile` would adopt this as the default SPHINXOPTS and fix these errors.

[2022-10-09 21:07] larsoner commented on #286
https://github.com/autoreject/autoreject/releases/tag/v0.4

[2022-10-09 21:07] #286 closed

[2022-10-10 00:01] jasmainak commented on #290
I see, okay to change this from my end

[2022-10-10 14:07] #290 closed

[2022-10-11 16:00] #289 closed

[2022-11-23 14:34] GWeindel commented on #283
I had no luck playing around with an integrated version where you can modify online what is rejected and what isn't so I just rely on ```epochs_ar, reject_log = ar.transform(epochs, return_log=True)``` as it fills my need